*{
  margin: 0;
  padding: 0;
}

html{
  height: 100%;
  width: 100%;
}

body{
  height: 100%;
  width: 100%;
  font: 20px/1.5em Arial;
}

.flex{
  display: -moz-inline-flex;
  display: -ms-inline-flex;
  display: -o-inline-flex;
  display: inline-flex;
}

.container{
  height: 100%;
  width: 100%;
  min-width: 1024px;
  max-width: 1920px;
  min-height: 100%;
  background-color: #ddd;
  margin: 0 auto;
}

.wrap{
  width: 100%;
  height: 100%;
  max-width: 1366px;
  margin: 0 auto;
}

header{
  width: 100%;
  height: 50px;
  background-color: #028EC9;
}

nav{
  flex-grow: 4;
  height: 100%;
}

nav a{
  flex-grow: 1;
  display: flex;
  text-decoration: none;
  color: #fff;
}

nav a span{
  margin: auto;
}

.login-menu{
  flex-grow: 1;
  height: 100%;
  position: relative;
}

.login-menu a{
  display: flex;
  color: #fff;
  text-decoration: none;
  width: 100%;
}

.login-menu a span{
  margin: auto;
}

.login{
  background-color: #f70;
}

.registr{
  background-color: #0a0;
}

a:hover{
  background-color: #fff;
  color: #028EC9;
  transition: 1s;
}

#sub-login{
  height: 200px;
  width: 100%;
  background-color: #f00;
  position: absolute;
  right: 0;
  top: 50px;
  transition: 2s;
}

/*main*/

main{
  height: 900px;
  background-color: #ccc;
}

/*registration*/

.registration{
  height: 900px;
  background-color: #ccc;
}

/*authorization*/

.authorization-page{
  height: 900px;
  background-color: #ccc;
}

/*about*/

.about{
  height: 900px;
  background-color: #ccc;
}

/*footer*/

footer{
  width: 100%;
  height: 50px;
  background-color: #028EC9;
}
