*{
  padding: 0;
  margin: 0;
}

html{
  height: 100%;
  width: 100%;
  background-color: #ccc;
}

body{
  height: 100%;
  width: 100%;
  font: 24px/1.5em Arial;
}

.container{
  position: relative;
  height: 100%;
  width: 100%;
  max-width: 1920px;
  min-width: 980px;
  min-height: 100%;
  margin: 0 auto;
}

/*header*/

header{
  background-color: #028EC9;
  height: 80px;
  width: 100%;
}

nav{
  display: flex;
  align-items: center;
  height: 100%;
}

nav a{
  margin: auto;
  display: block;
  padding: 15px 80px;
  text-decoration: none;
  color: #fff;
}

nav a:hover{
  background-color: #fff;
  color: #028EC9;
  transition: 1s;
}

/*main*/

main{
  height: 900px;
  background-color: #fff;
}

/*registration*/

.registration{
  height: 900px;
  background-color: #1f5;
}

/*about*/

.about{
  height: 900px;
  background-color: #f44;
}

/*footer*/

footer{
  height: 80px;
  background-color: #028EC9;
  width: 100%;
}
