@media (max-width: 960px) {
    .mobile {
      display:block  !important;
    }
    body {
        overflow-x: auto;
    }
    .wrap {
        width: 480px;
        padding: 0 30px 0;
    }
    .headerLine {
        height: 110px;
        width: 100%;
    }
    .headerLine h1{
      display: none;
    }
    .headerLine .entered {
        display: none;
    }
    .headerLine .enter {
        display: none;
    }
    .header {
        margin-bottom: 27px;
        margin-top: 0;
    }
    .header .div_logo {
        width: 105px;
        height: 105px;
        margin: -55px 0 0 11px;
    }
    .header .div_logo .logo {
        width: 105px;
        height: 105px;
        background-size: 105px;
    }
    .header .navigation a:first-child {
        margin: 0;
    }
    .header .navigation {
        display: none;
        width: 100%;
        text-align: center;
        border: none;
        border-bottom: 2px solid #00796b;
        padding-top: 20px;
        padding-bottom: 20px;
    }
    .header .navigation a {
        margin: 14px 0;
        padding: 5px;
        display: block;
        color: #333;
        font-size: 24px;
        font-weight: 700;
    }
    .header .navigation.active {
        display: block;
    }
    .headerLine .cont {
        width: 480px;
        margin: 0 auto;
        /* display: block; */
        
        position: relative;
    }
    .button-open-menu {
        display: block;
        right: 0;
        position: absolute;
        margin: 32px 25px 0 0;
        cursor: pointer;
    }
    .main {
        margin-top: 0;
    
}
    .main .description {
        width: 100%;
        /* width: 425px; */
        
        word-wrap: break-word;
    }
    .main .description p {
        font-size: 16.3px;
        line-height: 1;
        padding-top: 25px;
    }
    .block-with-works .best-works h2 {
        padding: 64px 0 49px 0;
    }
    .block-with-works {
        width: 100%;
    }
    .block-with-works .left-block {
        display: block;
        outline: none;
        padding: 0;
        margin: 0 0 38px 0;
        width: 100%;
        height: auto;
    }
    .block-with-works .right-block {
        display: block;
        padding:it 0px;
        margin: 0;
        width: 100%;
    }
    .block-with-works .left-block .big.work {
        width: 100%;
        height: auto;
        /* width: 420px; */
        /* height: 331px; */
        line-height: 97%;
    }
    .block-with-works .left-block .work .tooltip {
        opacity: 1;
        margin: 0 0 0 5px;
        width: 50%;
        height: auto;
    }
    .block-with-works .right-block .block-works,
    .block-line .block-works {
        padding: 0;
        outline: none;
        margin: 0 0 33px 0;
        display: block;
        width: 100%;
    }
    .block-with-works .right-block .block-works .work,
    .block-line .block-works .work {
        height: 100%;
        width: 100%;
        overflow: visible;
    
        position: relative;
}
    .tooltip {
        vertical-align: top;
    
}
    .block-with-works .right-block .block-works .work .tooltip,
    .block-line .block-works .work .tooltip {
        opacity: 1;
        width: 100%;
        background-color: rgba(0, 0, 0, 0.4);
        box-sizing: border-box;
        word-wrap: break-word;
    
        position: absolute;
        bottom: 0;
}
    .block-with-works .right-block .block-works .work .tooltip h3,
    .block-line .block-works .work .tooltip h3 {
        color: #fff;
        font-size: 17px;
        line-height: 15px;
    
}
    .block-with-works .right-block .block-works .work .tooltip p,
    .block-line .block-works .work .tooltip p {
        color: #fff;
        font-size: 16px;
        box-sizing: border-box;
        padding-left: 5px;
    }
    .slider {
        margin: 8px 0 0 0;
        width: 100%;
        height: 395px;
        padding-top: 30px;
        white-space: nowrap;
    }
    .cont h2 {
        margin: 45px 0 0 0;
    }
    .slider .control {
        width: 28px;
        height: 52px;
        margin-top: 102px;
        margin-left: -28px;
        background-size: 30px;
    }
    .slider .control.right {
        margin-left: 10px;
    }
    .slider .contwrap {
        margin: 0;
        width: 415px;
    }
    .slider .container {
        margin: 28px 0 0 0;
    }
    .slider .container .slide {
        margin: 0 30px 0 0;
        width: 202px;
        height: 200px;
    }
    .slider .container .slide .label {} .slider .container .slide .label span {
        margin: 0 auto;
        /* display: block; */
    }
    .slider .container .slide .con {
        border-radius: 0;
        border: none;
        box-shadow: none;
        width: 202px;
        height: 200px;
        margin: 0 0 14px 0;
    }
    .slider .container .slide .con .block-img {
        width: 202px;
        height: 200px;
        display: block;
        line-height: 195px;
        text-align: center;
    }
    .block-line {
        width: 100%;
    
}
    .block-line h2 {
        margin: 0 0 11% 0;
    }
    
    /*panel work*/
    .border-edit{
    right: -17px;    
    top: -118px;
}
    
/*page-author*/
.page-author{}
  .mobile {
    display:block  !important;
  }
  body {
    overflow-x: auto;
  }
  .wrap {
    width: 480px;
    padding: 0 30px 0;
  }
  .headerLine {
    height: 110px;
    width: 100%;
  }
  .headerLine h1{
    display: none;
  }
  .headerLine .entered {
    display: none;
  }
  .headerLine .enter {
    display: none;
  }
  .header {
    margin-bottom: 27px;
    margin-top: 0;
  }
  .header .div_logo {
    width: 105px;
    height: 105px;
    margin: -55px 0 0 11px;
  }
  .header .div_logo .logo {
    width: 105px;
    height: 105px;
    background-size: 105px;
  }
  .header .navigation a:first-child {
    margin: 0;
  }
  .header .navigation {
    display: none;
    width: 100%;
    text-align: center;
    border: none;
    border-bottom: 2px solid #00796b;
    padding-top: 20px;
    padding-bottom: 20px;
  }
  .header .navigation a {
    margin: 14px 0;
    padding: 5px;
    display: block;
    color: #333;
    font-size: 24px;
    font-weight: 700;
  }
  .header .navigation.active {
    display: block;
  }
  .headerLine .cont {
    width: 480px;
    margin: 0 auto;
    position: relative;
  }
  .button-open-menu {
    display: block;
    right: 0;
    position: absolute;
    margin: 32px 25px 0 0;
    cursor: pointer;
  }
  .main {
    margin-top: 0;
  }
  .main .description {
    width: 100%;
    word-wrap: break-word;
  }
  .main .description p {
    font-size: 16.3px;
    line-height: 1;
    padding-top: 25px;
  }
  .block-with-works .best-works h2 {
    padding: 64px 0 49px 0;
  }
  .block-with-works {
    width: 100%;
  }
  .block-with-works .left-block {
    display: block;
    outline: none;
    padding: 0;
    margin: 0 0 38px 0;
    width: 100%;
    height: auto;
  }
  .block-with-works .right-block {
    display: block;
    padding:it 0px;
    margin: 0;
    width: 100%;
  }
  .block-with-works .left-block .big.work {
    width: 100%;
    height: auto;
    line-height: 97%;
  }
  .block-with-works .left-block .work .tooltip {
    opacity: 1;
    margin: 0 0 0 5px;
    width: 50%;
    height: auto;
  }
  .block-with-works .right-block .block-works,
  .block-line .block-works {
    padding: 0;
    outline: none;
    margin: 0 0 33px 0;
    display: block;
    width: 100%;
  }
  .block-with-works .right-block .block-works .work,
  .block-line .block-works .work {
    height: 100%;
    width: 100%;
    overflow: visible;
    position: relative;
  }
  .tooltip {
    vertical-align: top;
  }
  .block-with-works .right-block .block-works .work .tooltip,
  .block-line .block-works .work .tooltip {
    opacity: 1;
    width: 100%;
    background-color: rgba(0, 0, 0, 0.4);
    box-sizing: border-box;
    word-wrap: break-word;
    position: absolute;
    bottom: 0;
  }
  .block-with-works .right-block .block-works .work .tooltip h3,
  .block-line .block-works .work .tooltip h3 {
    color: #fff;
    font-size: 17px;
    line-height: 15px;
  }
  .block-with-works .right-block .block-works .work .tooltip p,
  .block-line .block-works .work .tooltip p {
    color: #fff;
    font-size: 16px;
    box-sizing: border-box;
    padding-left: 5px;
  }
  .slider {
    margin: 8px 0 0 0;
    width: 100%;
    height: 395px;
    padding-top: 30px;
    white-space: nowrap;
  }
  .cont h2 {
    margin: 45px 0 0 0;
  }
  .slider .control {
    width: 28px;
    height: 52px;
    margin-top: 102px;
    margin-left: -28px;
    background-size: 30px;
  }
  .slider .control.right {
    margin-left: 10px;
  }
  .slider .contwrap {
    margin: 0;
    width: 415px;
  }
  .slider .container {
    margin: 28px 0 0 0;
  }
  .slider .container .slide {
    margin: 0 30px 0 0;
    width: 202px;
    height: 200px;
  }
  .slider .container .slide .label {} .slider .container .slide .label span {
    margin: 0 auto;
  }
  .slider .container .slide .con {
    border-radius: 0;
    border: none;
    box-shadow: none;
    width: 202px;
    height: 200px;
    margin: 0 0 14px 0;
  }
  .slider .container .slide .con .block-img {
    width: 202px;
    height: 200px;
    display: block;
    line-height: 195px;
    text-align: center;
  }
  .block-line {
    width: 100%;
  }
  .block-line h2 {
    margin: 0 0 11% 0;
  }


  /*page-author*/
  .page-author{
    width: 100%;
  }
  .page-author .photo-author{
    width: 100%;
  }
  .page-author .photo-author img{
    width: 100%;
    height: 100%;
  }
  .info-author{
    display: block;
    width: 100%;
    padding: 0;
  }
  .info-author h2{
    margin-top: 30px;
  }
  .info-author .biography-text{
    width: 100%;
  }
  .block-works img {
    /* width: 100%; */
  }
  .pad-list .articles{
    padding-top: 50px;
  }
  .pad-list .articles h2{
    margin: 0;
  }


  /* menu filter */
  .menu{
    width: 100%;
  }
  .menu .button{
    text-align: left;
    font-size: 18px;
    margin-right: 17px;
  }
  
  
  /* articles */
  .article-block h2{
    margin-bottom: 45px;
  }
  .anotation-link{
    text-decoration: none;
    color:#00796b;
  }
  .articles .article-block{
    margin: 0 0 66px 0;
  }

  
  /*reg*/
  .popup {
    background-color: #fff;
    padding: 13px 20px 45px;
  }
  .popup h2{
    text-align: center;
    font-size: 21px;
    font-weight: 900;
    color: #00796b;
    margin-bottom: 35px;
  }
  .popup .form-auth .icon.name{
    background-image: url(/assets/images/icon-name.png);
  }
  .popup .form-auth .icon.pointer{
    background-image: url(/assets/images/pointer.png);
  }
  

  /* authorization */
  .overlay{
    background-color: rgba(0, 0, 0, 0.7);
    bottom: 0;
    left: 0; 
    position: fixed;
    right: 0;
    top: 0;
    visibility: hidden;
    z-index: 1;
    opacity: 0;
  }
  .overlay:target {
    visibility: visible;
    opacity: 1;
  }
  .popup {
    left: 45%;    
  }

  
  /* author list */
  .finder{
    margin-top:63px;
  }
  .hide{
    display: none !important;
  }
  .author-info{
    margin-bottom: 75px;
  }
  .author-info .author-block{
    width: 196px;
    height: 190px;
  }
  .author-info .author-block .img-author{
    width: 190px;
    height: 190px;
    -webkit-box-shadow: 0 0 0 2px #00796b;    
    -moz-box-shadow: 0 0 0 2px #00796b;
  }
  .author-info .author-block  .rating{
    padding-left:20px;
    text-transform:uppercase;
    font-family:'Roboto', sans-serif;
    font-size:15px;
    font-weight:600;
    color:#00796b;
  }
  .author-info .about-author{
    display: inline-block; 
    width: 48%;
    margin-left: 22px;
  }
  .author-info .about-author h2{
    font-size: 20px;
    padding-bottom: 10px;
  }
  .author-info .about-author h2 a{
    color:#00796b;
    text-decoration: none;
  }
  .author-info .about-author h3{
    font-size: 15px;
    padding-bottom: 14px;
  }
  .author-info .about-author p a{
    font-family:'Arimo', sans-serif;
    font-size: 15px;
    color:#00796b;
    text-decoration:none;
    padding-left: 10px;
    text-transform: none;
  }
  

  /*edit profile*/
  .profile-edit h1 {
    margin-bottom: 500px;
  }
  .col {
    width: 100%;
    margin-top: 30px;
    margin-left: -12px;
  }
  .right-col.col {
    margin-left: 0px;
    margin-top: -1077px;
  }
  .styled-input { 
    width: 421px;      
    margin: 0px 0 27px 0;    
    padding: 0px 0px 28px 0px;
  }
  .styled-input:-webkit-autofill {
    -webkit-box-shadow: inset 0 0 0 50px #fff !important;
    -webkit-text-fill-color: #00796b !important;
    color: #00796b !important;
  }
  .styled-input::-webkit-input-placeholder{
    color:#00796b;
  }
  .styled-input::-moz-input-placeholder{
    color:#00796b;
  }
  .styled-input::-o-input-placeholder{
    color:#00796b;
  }
  .styled-input.select {
    -webkit-appearance: none;
    -moz-appearance: none;     appearance: none;
    padding-right: 20px;
    background: url('/assets/images/pointer.png') 297px 11px no-repeat;
    background-size: 9px;
  }
  .styled-input.textarea {
    border: 1px solid #00796b;
    width: 395px;
    height: 185px;
    padding: 5px;
    resize: vertical;
    margin-bottom: 23px;    
    font-size: 15px;
    font-family: "PT Sans",sans-serif;
    color: black;
    text-transform: none;
  }
  .textarea-label {
    margin-top: 39px;
    display: block;
    font-family: 'PT Sans', sans-serif;
    font-size: 15px;
    margin-bottom: 9px;
    text-transform: uppercase;    
    color: #00796b;    
  }
  .button {
    display: inline-block;    
    height: 46px;    
    width: 158px;
    margin: 16px 2px 0px 0px;    
    cursor: pointer;
    padding: 0;    
  }
  .user-avatar {
    max-height: 553px;
    max-width: 378px;
  }
  .download {
    position: absolute;
    opacity: 0;
  }
  .download-label {
    margin-top: 16px;
    padding-top: 6px;
    display: block;
  }  
  .header .div_logo.in-panel {
    width: 105px;
    height: 105px;
    margin: -45px 0px 0 15px;
    line-height: 100px;
  }
  .styled-input.textarea {
    border: 1px solid #00796b;
    width: 395px;
    height: 185px;
    padding: 5px;
    resize: vertical;
    margin-bottom: 23px;    
    font-size: 15px;
    font-family: "PT Sans",sans-serif;
    color: black;
    text-transform: none;
  }
  

  /*article-edit*/
  .article_edit .add_files .label-add{
    width: 100%;
    max-width: 293px;
  }
  .article_edit .name input{
    width: 100%;
    max-width: 314px;
  }
  .article_edit .buttons{
    width: 100%;
  }
  

  /* panel */
  .biography{
    width: 100%;
    padding: 45px 0 0 0;
    margin-bottom: 63px;
  }
  .biography p{
    margin-top: 34px;
    font-size: 14px;
    font-weight: 600;
  }
  .works-in-panel h2{
    font-size: 17px;
    margin-bottom: 47px;
  }
  .works-in-panel .block-works{
    padding: 0;
    outline: none;
    width: 100%;
  }
  .works-in-panel .block-works .tooltip{
    opacity: 1;
    background-color: #E2E2E2;
  }
  .works-in-panel  .block-works .tooltip{
    opacity: 1;
    width: 100%;
    bottom: 0;
    background-color: rgba(0,0,0,.85);
}
  .works-in-panel .block-works .work .add-work{
    display: none;
  }
  .works-in-panel .block-works.mob{
    width: 0;
    height: 0;
    margin: 0 0 88px 0;
  }
  .works-in-panel .block-works .work.mob{
    width: 200px;
    height: auto;
    padding: 17px 0;
    background-color: #fff;
    border: 1px solid #00796b;
  }
  .works-in-panel .block-works .work h4{
    text-align: center;
    font-size: 15px;
    vertical-align: middle;
  }
  .block-articles-in-panel{
    width: 100%;
  }
  .works-in-panel .block-works.mob-all{
    width: 0;    
    height: 0;
    margin: 3px 0 55px 0;
  }
  .works-in-panel .block-works .work.mob-all{
    width: 200px;    
    height: auto;    
    background-color: #fff;
    padding: 10px 0px;   
    border: 1px solid #00796b;
  }
  .works-in-panel .block-works .work .show-all-works{
    display: none;
  }
  .block-articles-in-panel{
    padding: 70px 0 0 0;
  }
  .block-articles-in-panel h2{
    margin: 0 0 34px 0;
  }
  .block-articles-in-panel .button-article{
    margin: 11px 0 62px 0;
  }
  .block-articles-in-panel .article{
    width: 100%;
    margin: 0 0 74px 0;
  }
 

  /* footer */
  .footer{
    width: 435px;
  }
  .footer p{
    padding: 10px 0 0 0;
  }
  .footer .social .icon{
    height: 55px;
  }
}

@media (max-width: 480px) {
  .wrap{
    width: 100%;
  }
  .headerLine{
    box-sizing: border-box;
    padding: 0 5% 0 0;
    height: 70px;
  }
  .button-open-menu .btn-line{
    width: 30px;
    height: 6px;
  }
  .header .div_logo{
    width: 70px;    
    height: 70px;
    margin: -14px 0 0 0;
    padding: 5px;
  }
  .header .div_logo .logo{
    width: 70px;
    height: 70px;
    background-size: 70px;
  }
  .header .navigation{
    white-space: normal;
  }
  .header .navigation a{
    font-size: 14px;
  }
  .headerLine .cont{
    width: 100%;
  }
  .button-open-menu{
    margin: 20px 0 0 0;
  }
  .main .description p{
    font-size: 19px; 
  }
  .block-with-works .best-works h2{
    padding: 40px 0 20px 0;
  }
  .block-with-works .left-block .work .tooltip{
    bottom: 0;
  }
  .block-with-works .left-block .work .tooltip h3{
    font-size: 14px;
  }
  .block-with-works .left-block .work . p{
    font-size: 12px;
  }
  .block-with-works .right-block .block-works, .block-line .block-works{
    margin: 0 0 20px 0;
  }
  .block-with-works .right-block .block-works .work .tooltip h3, .block-line .block-works .work .tooltip h3{
    font-size: 13px;
  }
  .block-with-works .right-block .block-works .work .tooltip p, .block-line .block-works .work .tooltip p{
    font-size: 12px;
  }
  .slider{
    width: 250px;
    margin: 0 auto;
  }
  .slider .control{
    margin-top: 80px;
    margin-left: -7px;
  }
  .slider .control.right{
    margin-left: 0;
  }
  .slider .contwrap{
    width: 200px;
  } 
  .slider .container{
    margin: 0;
  }
  .slider .container .slide{
    width: 200px;
    height: 200px;
    margin: 0 31px 0 0;
  }
  .slider .container .slide .con{
    width: 200px;
  }
  .slider .container .slide .con .block-img{
    width: 200px;
  }

  
  /* menu filter */
  .menu {
    width: 100%;
  }
  .menu .button {
    text-align: left;
    font-size: 18px;
    margin-top: 6px;
    margin-bottom: -6px;
    margin-right: 17px;
  }

  /* articles */
  .article-block h2 {
    margin-bottom: 45px;
  }
  .anotation-link {
    text-decoration: none;
    color: #00796b;
  }
  .articles .article-block {
    margin: 0 0 66px 0;
  }
  
  
  /*article-edit*/
  .article_edit .buttons .btn-art-edit {
    padding: 12px 25px;
  }
  .article_edit .buttons .btn-art-edit.delete {
    padding: 12px 25px;
  }


  /*reg*/
  .popup {
    background-color: #fff;
    left: 50%;
    position: fixed;
    transform: translate(-50%, -50%) scale(0.9);
    max-height: 100%;
    overflow-y: auto;
    overflow-x: hidden;
    z-index: 99;
    top: 0%;
    padding: 13px 34px 21px;
    visibility: hidden;
    z-index: 99;
    opacity: 0;
    -webkit-transition: .3s cubic-bezier(0.78, 1.43, 0.84, 1.33);
    -moz-transition: .3s cubic-bezier(0.78, 1.43, 0.84, 1.33);
    -o-transition: .3s cubic-bezier(0.78, 1.43, 0.84, 1.33);
    transition: .3s cubic-bezier(0.78, 1.43, 0.84, 1.33);
    margin: 0 0 0 19px;
  }
  .popup .form-auth .button-auth {
    width: 65px;
  }
  .popup .form-auth .button-auth.reg {} .popup .form-auth .text.reg {
    width: 200px;
  }
  .popup .form-auth .text.sel {} .popup .form-auth .block-select {
    width: 200px;
  }
  .popup .form-auth .icon.name {
    background-image: url(/assets/images/icon-name.png);
  }
  .popup .form-auth .icon.pointer {
    background-image: url(/assets/images/pointer.png);
  }
  .popup .form-auth .con-select {
    width: 200px;
  }
  .popup .form-auth .text.sel option:first-of-type {} .condition {
    width: 200px;
  }
  .popup .form-auth .text {
    width: 200px;
  }
  
  
  /* authorization */
  .overlay {
    background-color: rgba(0, 0, 0, 0.7);
    bottom: 0;
    left: 0;
    position: fixed;
    right: 0;
    top: 0;
    visibility: hidden;
    z-index: 1;
    opacity: 0;
  }
  .overlay:target {
    visibility: visible;
    opacity: 1;
  }
  .overlay:target+.popup {
    top: 53%;
    transform: initial;
    top: 25px;
    left: 25px;
    margin: 0;
    padding: 30px 0;
    box-sizing: border-box;
    overflow: auto;
    right: 25px;
    bottom: 25px;
  }
  .popup form {
    width: 200px;
    margin: 0 auto;
    padding: 0 15px;
  }
  
  
  .author-works{
    margin: 0 auto;
    display:inline-block;
    width: 100%;
  }
  .pad-list{
    width: 100%;
    margin-top:42px;
  }
  .pad-list a{
    color:#00796b; 
    font-weight: 600;
  }
  .pad-anotation{
    width: 100%;
    display:inline-block;
    margin: 14px 0;
  }
  .pad-date{
    text-align: right;
    color: #828181;
    padding-right: 30px;
  }
  
  
  
  
  .headerLine {
    box-sizing: border-box;
    padding: 0 5% 0 0;
    height: 70px;
  }
  .button-open-menu .btn-line {
    width: 30px;
    height: 6px;
  }
  .header .div_logo {
    width: 70px;
    height: 70px;
    margin: -14px 0 0 0;
    padding: 5px;
  }
  .header .div_logo .logo {
    width: 70px;
    height: 70px;
    background-size: 70px;
  }
  .header .navigation {
    white-space: normal;
  }
  .header .navigation a {
    font-size: 14px;
  }
  .headerLine .cont {
    width: 100%;
  }
  .button-open-menu {
    margin: 20px 0 0 0;
  }
  .main .description p {
    font-size: 19px;
  }
  .main .description h1 {} .block-with-works .best-works h2 {
    padding: 40px 0 20px 0;
  }
  .block-with-works .left-block .work .tooltip {
    bottom: 0;
  }
  .block-with-works .left-block .work .tooltip h3 {
    font-size: 14px;
  }
  .block-with-works .left-block .work .tooltip p {
    font-size: 12px;
  }
  .block-with-works .right-block .block-works,
  .block-line .block-works {
    margin: 0 0 20px 0;
  }
  .block-with-works .right-block .block-works .work .tooltip h3,
  .block-line .block-works .work .tooltip h3 {
    font-size: 13px;
  }
  .block-with-works .right-block .block-works .work .tooltip p,
  .block-line .block-works .work .tooltip p {
    font-size: 12px;
  }
  .slider {
    width: 250px;
    margin: 0 auto;
  }
  .cont h2 {} .slider .control {
    margin-top: 80px;
    margin-left: -7px;
  }
  .slider .control.right {
    margin-left: 0;
  }
  .slider .contwrap {
    width: 200px;
  }
  .slider .container {
    margin: 0;
  }
  .slider .container .slide {
    width: 200px;
    height: 200px;
    margin: 0 31px 0 0;
  }
  .slider .container .slide .con {
    width: 200px;
  }
  .slider .container .slide .con .block-img {
    width: 200px;
  }


  /* panel */
  .header .div_logo.in-panel{
    height: 70px;
    width: 70px;
    margin: -7px 0 0 9px;
    line-height: 65px;
  }
  .block-articles-in-panel .article p{
    word-wrap: break-word;
  }
  /*work*/
  .border-edit {
    display: block;
    margin-left: 153px;
    margin-top: 207px;
    width: 58px;
    height: 58px;
    padding: 12px;
    right: 16px;
    top: -77px;
  }
  .icon-name {
    display: block;
    width: 31px;
    height: 35px;
    left: -8px;
    top: -49px;
    margin-top: 41px;
    padding-top: 6px;
    background-size: 33px;
  }
   
    
    /*work*/
    .border-edit {
        display: block;
        margin-left: 153px;
        margin-top: 207px;
        width: 58px;
        height: 58px;
        padding: 12px;
        right: -27px;
        top: -75px;
    }
    .icon-name {
        display: block;
        width: 31px;
        height: 35px;
        right: -8px;
        top: -49px;
        margin-top: 41px;
        padding-top: 6px;
        background-size: 33px;
    }
      
    /*footer*/
    .footer {
        padding: 15px 0 0 0;
    }
    .footer p {
        font-size: 9px;
        display: block;
        width: 41%;
    }
    .footer .social .icon {
        width: 35px;
        height: 50px;
        background-size: 35px;
    }
  
  /*footer*/
  .footer {
    padding: 15px 0 0 0;
  }
  .footer p {
    font-size: 12px;
    display: block;
    width: 41%;
  }
  .footer .social .icon {
    width: 40px;
    height: 40px;
    background-size: 40px;
  }
}