@font-face {
  font-family: 'FontAwesome';
  src: url('../fonts/fontawesome-webfont.eot?v=4.4.0');
  src: url('../fonts/fontawesome-webfont.eot?#iefix&v=4.4.0') format('embedded-opentype'),
       url('../fonts/fontawesome-webfont.woff2?v=4.4.0') format('woff2'),
       url('../fonts/fontawesome-webfont.woff?v=4.4.0') format('woff'),
       url('../fonts/fontawesome-webfont.ttf?v=4.4.0') format('truetype'),
       url('../fonts/fontawesome-webfont.svg?v=4.4.0#fontawesomeregular') format('svg');
  font-weight: normal;
  font-style: normal;
}
.fa {
  display: inline-block;
  font: normal normal normal 14px/1 FontAwesome;
  font-size: inherit;
  text-rendering: auto;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}
.fa-search:before {
  content: "\f002";
}
.fa-sign-in:before {
  content: "\f090";
}
.fa-long-arrow-left:before{
  content: "\f177";
}
.fa-long-arrow-right:before{
  content: "\f178";
}
.fa-rub:before{
  content: "\f158";
}
.fa-star:before{
  content: "\f005";
}
.fa-newspaper-o:before{
  content: "\f1ea";
}
.fa-user-plus:before{
  content: "\f234";
}
.fa-users:before{
  content: "\f0c0";
}
.fa-user:before{
  content: "\f007";
}
.fa-building-o:before{
  content: "\f0f7";
}
.fa-info:before{
  content: "\f129";
}
.fa-shopping-cart:before{
  content: "\f07a";
}
.fa-chevron-right:before{
  content: "\f054";
}
.fa-filter:before{
  content: "\f0b0";
}