*{
  padding: 0;
  margin: 0;
}

html{
  height: 100%;
  width: 100%;
}

body{
  height: 100%;
  width: 100%;
  font: 16px/1.5em Arial;
}

.container{
  width: 100%;
  min-width: 1000px;
  min-height: 100%;
  box-sizing: border-box;
  padding-bottom: 40px;  
}

.wrap{
  width: 100%;
  height: 100%;
  max-width: 1000px;
  margin: 0 auto;
}

/* header */

header{
  width: 100%;
  height: 150px;
  background: linear-gradient(to top, #eee, #fff);
}

.head-con{
  height: 100%;
  display: flex;
  flex-direction: column;;
  justify-content: center;
  text-align: start;
  float: left;
}


.head-con p{;;
  
}

.logo-link{
  width: 100px;
}

.logo-img{
  height: 100px;
  width: 100px;;
}

.name-info{
  width: 210px;
}

.address-info{
  width: 310px;
}

.phone-info{
  width: 170px;
}

.social-info{
  width: 210px;
}

.bold-text{
  font-weight: bold;
  font-size: 23px;
}

.phone-icon:before{
  content: '';
  display: block;
  background: url('/assets/img/phone.png');
  width: 24px;
  height: 24px;
  float: left;
  margin-right: 5px;
}

.marker-icon:before{
  content: '';
  display: block;
  background: url('/assets/img/marker.png');
  width: 24px;
  height: 24px;
  float: left;
  margin-right: 5px;
}

/* menu */

menu{
  width: 100%;
  height: 40px;
  background: linear-gradient(to top, #343434, #565656);
  font-weight: bold;
  font-size: 20px;
}

menu li{
  float: left;
  display: block;
  height: 100%;
  width: 160px;
  text-align: center;
  background: linear-gradient(to top, #036ca6, #028ec9);
  box-sizing: border-box;
}

menu li:last-child{
  width: 100px;
  background-color: #092;
  text-transform: uppercase;
}

menu li a{
  text-decoration: none;
  line-height: 40px;
  height: 100%;
  width: 100%;
  display: block;
  color: #fff;
}

.search-form{
  float: left;
  height: 100%;
  width: 420px;
  background-color: #028ec9;
}

.search-form input{
  width: 310px;
  height: 100%;
  padding-left: 10px;
  float: left;
  border: none;
  background-color: #eee; 
}

.search-form input:focus{
  outline: none;
}

.search-form button{
    float: right;
    border: none;
    cursor: pointer;
    height: 100%;
    width: 100px;
    color: #fff;
    text-transform: uppercase;
    background: #f70;
    outline: none;
    font-size: 16px;
}

#sub-login{
  height: 200px;
  background-color: #f00;
  width: 200px;
  margin-left: -100px;
}

.registr{
  height: 20px;
  margin-top: -40px;
  background-color: brown;
  line-height: 19px;
}

/*main*/

main{
  
}

/*registration*/

.registration{
  height: 900px;
  background-color: #ccc;
}

/*authorization*/

.authorization-page{
  height: 200px;
}

/*about*/

.about{
  height: 900px;
  background-color: #ccc;
}

/*footer*/

footer{
  width: 100%;
  height: 40px;
  margin-top: -40px;
  text-align: center;
  line-height: 40px;
  background: linear-gradient(to top, #343434, #565656);
}

footer span{
  color: #fff;
}
a.registr{
}