@import url(/assets/styles/reset.css);
@import url(/assets/styles/fonts.css);

html{
  height: 100%;
  width: 100%;
}

body{
  height: 100%;
  width: 100%;
  font: 16px/1.5em 'Roboto Slab', serif;
}

.container{
  box-sizing: border-box;
  width: 100%;
  min-width: 1000px;
  min-height: 100%;
  padding-bottom: 40px;
  background: linear-gradient(to top, #d7ebf3, #fff);  
}

.flex{
  display: flex;
}

.shadow{
  box-shadow: 0 0 10px 1px rgba(0,0,0,0.3) inset;
}

.shadow-top{
  box-shadow: 0 3px 10px 1px rgba(0,0,0,0.3) inset; 
}

.shadow-bot{
  box-shadow: 0 -3px 10px 1px rgba(0,0,0,0.3) inset;
}

.wrap{
  width: 1000px;
  margin: 0 auto;
  height: 100%;
}

/*-------------------------------------- ШАПКА САЙТА --------------------------------------*/

header{
  height: 150px;
  font-size: 18px;
}
.head-contacts{
  margin: auto;;
}
.name-info{
  font-size: 34px;
  font-weight: 700;
  text-transform: uppercase;
  color: #000;
}
.margin{
  margin-left: 29px;
}
.phone-icon,
.marker-icon{
  font-size: 24px;
  font-weight: bold;
}
.marker-icon:before{
  content: '';
  float: left;
  height: 24px;
  width: 24px;
  margin-right: 5px;
  background: url(/assets/img/marker.png);
}
.phone-icon:before{
  content: '';
  float: left;
  height: 24px;
  width: 24px;
  margin-right: 5px;
  background: url(/assets/img/phone.png);
}
.social-info a{
  width: 200px;
  align-items: center;
  margin: 5px 0;
  color: #000;
}
.social-info a:hover{
  font-weight: bold;
}
.social-info p{
  margin-left: 5px;
}

/*-------------------------------------- МЕНЮ САЙТА --------------------------------------*/

menu{
  height: 50px;
  font-size: 20px;
  background: linear-gradient(to top,#036ca6, #028ec9);
}
menu .wrap > a{ 
  display: flex;
  height: 40px;
  width: 162px;
  margin: auto 0 auto 5px;
  border: 1px solid #fff;
  align-items: center;
  justify-content: center;
  color: #fff;
  z-index: 1;
  transition: all .4s;
  transition-timing-function: ease;
  position: relative;
  text-transform: uppercase;
  box-sizing: border-box;
}
menu .wrap > a::before{
  content: '';
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: #fff;
  z-index: -1;
  opacity: 0;
  transform: scale3d(0.7, 1, 1);
  transition: transform .4s, opacity .4s;
  transition-timing-function: ease;
}
menu a:hover{
  color: #036ca6;
}
menu .wrap > a:hover::before{
  opacity: 1;
  transform: translate3d(0, 0, 0);
}
.search-form{
  height: 40px;
  width: 444px;
  margin: auto 5px;
}
.search-form input{ 
  width: 394px;
  border: 1px solid #fff;
  background: #fff;
  font-size: 14px;
  font-weight: bold;
  padding-left: 10px;
  margin-right: 5px;
  text-transform: uppercase;
}
.search-form input:focus{
  outline: 0;
}
:focus::-webkit-input-placeholder{
  color: transparent;
}
::-webkit-input-placeholder{
  color: #036ca6;
}
menu .fa-search,
menu .fa-sign-in{
  font-size: 24px;
  width: 24px;
}
menu button{
    transition: all .5s;
    border: 1px solid #fff;
    outline: none;
    cursor: pointer;
    background: none;
    height: 40px;
    width: 40px;
    color: #fff;
    position: relative;
    z-index: 1;
    margin: auto 5px auto 0;
}
menu button::before{
  content: '';
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: #fff;
  z-index: -1;
  opacity: 0;
  transform: scale3d(0.7, 1, 1);
  transition: transform .4s, opacity .4s;
  transition-timing-function: ease;
}
menu button:hover::before{
  opacity: 1;
  transform: translate3d(0, 0, 0);
}
.search-form button{
  margin: 0;
}
.login:hover,
.search-form button:hover{
  color: #036ca6;
}

/*-------------------------------- БЛОК РЕГИСТРАЦИИ/АВТОРИЗАЦИИ --------------------------------*/

#sub-login{
  height: 250px;
  background-color: #036ca6;
  position:absolute;
  left:50%;
  width:1000px;
  margin-left:-500px;
  align-items:center;
  display:none;
  z-index:1;
  box-shadow:0 0 10px 1px rgba(0,0,0,0.3) inset;
}

.form-auth{
  height: 90%;
  width: 450px;
  display: flex;
  flex-direction: column;
  background-color: #fff;
  margin-left: 50px;;
}

.form-auth input{
  width: 320px;
  margin: auto;
  height: 30px;
}

.registr{
  margin: auto;
  display: flex;
  height: 40px;
  width: 160px;
  align-items: center;
  justify-content: center;
  text-decoration: none;
  color: #fff;
  font-size: 24px;
  border: 2px solid #fff;
}

/* Блок авторизации / регистрации 

.block-login{
  position: fixed;
  z-index: 16;
  top: -350px;
  left: 50%;
  height: 350px;
  width: 1000px;
  margin-left: -500px;
  margin-top: -175px;
  background-color: #67b5d1;
  transition: all .5s;
}

.form-auth{
  background-color: #00F;
}

.show-login .block-login{
  top: 50%;
}

.mask {
    position: fixed;
    top: 0;
    left: 0;
    z-index: 15;
    width: 100%;
    height: 100%;
    background: rgba(0, 0, 0, .8);
}

*/

/*-------------------------------------- ГЛАВНАЯ СТРАНИЦА --------------------------------------*/

.main-info{
}

.block-about{
  background-image: url(/assets/img/city.png);
  height: 335px;
  width: 1000px;
}

.about-layer{
  background-color: #036ca6;
  opacity: .85;
  height: 100%;
  width: 100%;
}

.about-content{
  height: 285px;
  width: 650px;
  text-align: justify;
  padding: 25px 0;
  margin-left: 25px;;;
  
}

.about-content h1{
  color: #fff;
  font-size: 34px;
  font-weight: bold;
  overflow: hidden;
  margin-bottom: 25px;
  height: 25px;
}

.about-content p{
  color: #fff;
  font-size: 16px;
  font-weight: bold;
  overflow: hidden;
  max-height: 235px;

}

.block-best-products{
  height: 325px;
  width: 1000px;
  padding: 25px 0;
}

.block-last-news h1{
  color: #036ca6;
  height: 25px;
  font-size: 28px;
  text-transform: uppercase;
  margin: 0 0 25px 25px;

}

.block-best-products h1{
  color: #036ca6;
  font-size: 28px;
  text-transform: uppercase;
  margin: 0 0 25px 25px;
  height: 25px;
}

.block-best-products > a{
  display: block;
  font-size: 18px;
  height: 25px;
  margin: 25px 0 0 25px;
  color: #036ca6;
  text-transform: uppercase;
  text-decoration: underline;
  width: 120px;
  
}

.block-best-products > a:hover{
  color: #028ec9;
}

.best-product{
  width: 300px;
  height: 225px;
  margin-left: 25px;
  box-sizing: border-box;
  border: 1px solid #036ca6;
  position: relative;
}

.best-product-img{
  height: 100%;
  width: 100%;
}

.best-product-info{
  position: absolute;
  height: 100%;
  top: 0;
  left: 0;
  background-color: #036ca6;
  width: 100%;
  transition: transform 0.3s, opacity 0.3s;
  backface-visibility: hidden;
  flex-direction: column;
  opacity: 0;
}

.best-product-info:hover{
  opacity: .85;
  transform: translate(10px, 10px);
  box-shadow: 0 0 10px 1px rgba(0,0,0,0.5);
}

.best-product-name{
  font-size: 26px;
  color: #fff;
  width: 280px;
  height: 50px;
  border-bottom: 2px solid #fff;
  margin: 0 auto;
  display: flex;
  align-items: center;
  justify-content: center;

}

.best-product-description{
  color: #FFF;
  font-size: 16px;
  display: block;
  width: 240px;
  margin: 20px auto 0;
  height: 130px;
}

.best-product-price{
  width: 240px;
  margin: 0 auto;
  height: 48px;
  color: #fff;
  font-size: 30px;

}

.best-product-btns{
  width: 240px;
  height: 68px;
  display: flex;
  margin: 0 auto;
  
}

.add-best-product-btn,
.more-best-product-btn{
  border: 2px solid #fff;
  height: 30px;
  width: 100px;
  color: #fff;
  text-transform: uppercase;
  font-size: 14px;
  text-decoration: none;
  align-items: center;
  justify-content: center;
  margin: 10px auto;
}

.add-best-product-btn:hover,
.more-best-product-btn:hover{
  background: #fff;
  color: #036ca6;
}

.block-last-news{
  height: 525px;
  width: 1000px;
  padding: 25px 0;
}



.block-last-news > a{
  display: block;
  font-size: 18px;
  height: 25px;
  margin: 25px 0 0 25px;
  color: #036ca6;
  text-transform: uppercase;
  text-decoration: underline;
  width: 130px;
  
}

.last-news{
}

.last-post{
  height: 425px;
  width: 462.5px;
  border: 1px solid #036ca6;
  margin-left: 25px;
  box-sizing: border-box;;
}

.last-post-top{
  display: block;
  width: 412.5px;
  height: 300px;
  margin: 25px;; 
}

.last-post-img{
  height: 100%;
  width: 100%;
  box-shadow: 0 0 10px 1px rgba(0,0,0,0.5);
}

.last-post-bot{
  height: 50px;
  margin-bottom: 25px;
}

.last-post-description{
  text-decoration: none;
  font-size: 18px;
  color: #036ca6;
  display: block;
  overflow: hidden;
  height: 25px;
  margin-left: 25px;
}

.last-post-description a:hover{
  color: #028ec9;
}

.last-post-date{
  height: 25px;
  color: #565656;
  font-size: 12px;
  font-weight: 600;
  margin-left: 25px;
}



/*---------------------------------- СТРАНИЦА ВСЕХ НОВОСТЕЙ ----------------------------------*/

.block-news{

}



.news-content{
  width: 100%;
}

.news-content h1{
  color: #036ca6;
  height: 25px;
  font-size: 28px;
  text-transform: uppercase;
  margin: 25px 0 25px 25px;
}

.post{
  height: 350px;
  width: 948px;
  background-color: #fff;
  border: 1px solid #036ca6;
  display: flex;
  margin: 0 25px 25px;
}

.post:last-child{
  margin: 50px auto;
}

.post-left{
  display: block;
  width: 400px;
  height: 300px;
  margin: 25px; 
}

.post-picture{
  height: 100%;
  width: 100%;
  box-shadow: 0 0 10px 1px rgba(0,0,0,0.5);
}

.post-right{
  width: 475px;
  height: 300px;
  margin: 25px 25px 25px 0;
}

.description{
  height: 275px;
}

.description a{
  font-size: 24px;
  margin-bottom: 25px;
  max-height: 50px;
  overflow: hidden;
  font-weight: bold;
  color: #036ca6;
  display: block;
  min-height: 28px;
}

.description p{
  max-height: 190px;
  overflow: hidden;
  font-size: 14px;
}

.description a:hover{
  color: #028ec9;
}

.more{
  height: 25px;
  justify-content: space-between;
}

.more p{
  font-size: 12px;
  font-weight: 600;
  color: #565656;
}

.more a{
  color: #565656;
  font-size: 12px;
}

.more a:hover{
  color: #343434;
}

.page-selector{
  align-items: center;
  justify-content: center;
  display: flex;
  margin-bottom: 25px;;

}

.page-selector > a{
  font-size: 24px;
  width: 30px;
  display: flex;
  align-items: center;
  justify-content: center;
  height: 30px;
  margin-right: 5px;
}

.switch-item{
   color: #036ca6;
}

.switch-item-cur{
  color: #fff;
  background-color: #036ca6;
}

.switch-item:hover{
  color: #028ec9;
}
/*---------------------------------- СТРАНИЦА ВСЕХ ПРОДУКТОВ ----------------------------------*/

.block-products{
  flex-wrap: wrap;
}
.catalog{
  padding-top: 25px;
  
}
.catalog h1{
    color: #036ca6;
    height: 25px;
    font-size: 28px;
    text-transform: uppercase;
    margin: 0 0 25px 25px;
}
.product{
  height: 516px;
  border: 1px solid #036ca6;
  box-sizing: border-box;
  margin: 0 0 25px 25px;
  width: 300px;
  background-color: #fff;
}
.product-img{
  width: 298px;
  height: 225px;
  display: block;
}
.product-img img{
  height: 100%;
  width: 100%;
}
.product-name{
  font-size: 18px;
  overflow: hidden;
  margin: 25px 25px 10px 25px;
  max-height: 50px;
  height: 50px;
}
.product-name a{
  color: #036ca6;
  
}
.product-name a:hover{
  color: #028ec9;
}
.product-description{
  font-size: 12px;
  overflow: hidden;
  height: 142px;
  margin: 0 25px;
  text-align: justify;
  border-top: 1px solid #565656;
  border-bottom: 1px solid #565656;
}
.product-price{
  font-size: 20px;
  color: #565656;
  height: 25px;
  margin: 10px 25px 25px 25px;
  overflow: hidden;
}

.product-price i{
  margin-left: 5px;
  
}
/*registration*/

.registration{
  height: 900px;
  background-color: #ccc;
}

/*authorization*/

.authorization-page{
  height: 200px;
}

/*about*/

.about{
  height: 900px;
  background-color: #ccc;
}

/*-------------------------------------- ПОДВАЛ САЙТА --------------------------------------*/

footer{
  height: 40px;
  min-width: 1000px;
  margin-top: -40px;
  background: linear-gradient(to top,#036ca6, #028ec9);
}
footer span{
  margin: auto;
  color: #fff;
}

article.product.flex{
}
section.main-info.block-about{
}