*{
  padding: 0;
  margin: 0;
}

html{
  height: 100%;
  width: 100%;
}

body{
  height: 100%;
  width: 100%;
  font: 16px/1.5em Arial;
}

.container{
  width: 100%;
  min-width: 1000px;
  min-height: 100%;
  padding-bottom: 40px;
  background-color: #f0ebe5;
  box-sizing: border-box;  
}

.flex{
  display: -webkit-flex;
  display: -moz-flex;
  display: -ms-flex;
  display: -o-flex;
  display: flex;
}

.wrap{
  width: 100%;
  height: 100%;
  max-width: 1000px;
  margin: 0 auto;
}

/* header */

header{
  width: 100%;
  height: 150px;
  background: linear-gradient(to top, #eee, #fff);
  
}

.head-con{
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  text-align: start;
}


.head-con p{;;
  
}

.logo-link{
  width: 100px;
}

.logo-img{
  height: 100px;
  width: 100px;;
}

.name-info{
  width: 210px;
}

.address-info{
  width: 310px;
}

.phone-info{
  width: 170px;
}

.social-info{
  width: 210px;
}

.bold-text{
  font-weight: bold;
  font-size: 23px;
}

.phone-icon:before{
  content: '';
  display: block;
  background: url('/assets/img/phone.png');
  width: 24px;
  height: 24px;
  float: left;
  margin-right: 5px;
}

.marker-icon:before{
  content: '';
  display: block;
  background: url('/assets/img/marker.png');
  width: 24px;
  height: 24px;
  float: left;
  margin-right: 5px;
}

/* menu */

menu{
  width: 100%;
  height: 40px;
  background: linear-gradient(to top, #343434, #565656);
  font-weight: bold;
  font-size: 20px;
  
}

menu li{
  display: block;
  height: 100%;
  width: 160px;
  text-align: center;
  background: linear-gradient(to top, #036ca6, #028ec9);
  box-sizing: border-box;
}

menu li:last-child{
  width: 100px;
  background-color: #092;
  text-transform: uppercase;
}

menu li a{
  text-decoration: none;
  line-height: 40px;
  height: 100%;
  width: 100%;
  display: block;
  color: #fff;
}

.search-form{
  float: left;
  height: 100%;
  width: 420px;
  background-color: #028ec9;
}

.search-form input{
  width: 310px;
  height: 100%;
  padding-left: 10px;
  float: left;
  border: none;
  background-color: #eee; 
}

.search-form input:focus{
  outline: none;
}

.search-form button{
    float: right;
    border: none;
    cursor: pointer;
    height: 100%;
    width: 100px;
    color: #fff;
    text-transform: uppercase;
    background: #f70;
    outline: none;
    font-size: 16px;
}

#sub-login{
  height: 200px;
  width: 200px;
  margin-left: -100px;
  background-color: #f00;
  position: absolute;;
}

.registr{
  height: 20px;
  margin-top: -40px;
  background-color: brown;
  line-height: 19px;
}

/* main */

main{

}

.main-flex{
  display: flex;
  align-items: center;
  font-weight: bold;
  justify-content: center;
  font-size: 23px;
}

.left-sidebar{
  height: 100%;
  width: 200px;

}

.main-content{
  height: 100%;
  width: 600px;

}

.right-sidebar{
  height: 100%;
  width: 200px;

}

/* news */

.block-news{;

}

.news-content{
  flex-direction: column;
  width: 720px;
}

.news-title{
  width: 700px;
  height: 40px;
  margin: 25px auto -25px;
}

.title{
  border: 2px solid #565656;
  padding-left: 10px;
  line-height: 38px;
  box-sizing: border-box;
  background-color: #fff;
  color: #343434;
  font-size: 20px;
  font-weight: bold;
  text-transform: uppercase;
}

.news-filter{
  width: 280px;
}

.filter-title{
  width: 260px;
  margin: 25px auto 0;
  height: 40px;
}

.post{
  display: flex;
  height: 275px;
  width: 700px;
  margin: 50px auto 0;
  background-color: #fff;
  border: 2px solid #565656;
  box-sizing: border-box;
}

.post:last-child{
  margin: 50px auto;
}

.news-left a{
  display: block;
  height: 100%;
  width: 100%;
}

.news-left{
  width: 350px;
  height: 225зч;
  margin: 25px;
}

.news-picture{
  height: 225px;
  width: 300px;
  box-shadow: 0 0 10px 1px rgba(0,0,0,0.5);
}

.news-right{
  display: flex;
  flex-direction: column;
  width: 300px;
  height: 225px;
  margin: 25px;

}

.description{
  width: 300px;
  height: 200px;
}

.description h1{
  font-size: 20px;
  font-weight: 800;
  margin-bottom: 10px;
}

.description a{
  text-decoration: none;
  color: #343434;
}

.description a:hover{
  color: #565656;
}

.more{
  width: 300px;
  height: 25px;
  display: flex;
  justify-content: space-between;
  align-items: flex-end;
}

.more p{
  font-size: 12px;
  font-weight: 600;
  color: #565656;;

}

.more a{
  color: #565656;
  font-size: 12px;
}

.more a:hover{
  color: #343434;
}

/*registration*/

.registration{
  height: 900px;
  background-color: #ccc;
}

/*authorization*/

.authorization-page{
  height: 200px;
}

/*about*/

.about{
  height: 900px;
  background-color: #ccc;
}

/*footer*/

footer{
  width: 100%;
  height: 40px;
  margin-top: -40px;
  text-align: center;
  line-height: 40px;
  background: linear-gradient(to top, #343434, #565656);
  
}

footer span{
  color: #fff;
}
a.registr{
}