@import url(/assets/styles/reset.css);
@import url(/assets/styles/fonts.css);

html{
  width: 100%;
  height: 100%;
}
body{
  width: 100%;
  height: 100%;
  font: 16px/1.5em Noto Sans, sans-serif;
}
.separator{
  height: 15px;
  background: url(/assets/img/7.png);
  width: 200px;
  margin: 0 auto 25px;
}
h1{
  margin: 25px;
  font-size: 24px;
  text-align: center;
  text-transform: uppercase;
}
.wrap{
  width: 1140px;
  margin: 0 auto;
}
.container{
  position: relative;
  width: 100%;
  min-height: 100%;
  min-width: 1140px;
  background: url(/assets/img/2.png);
}
.shadow{
  box-shadow: 0 0 15px rgba(0,0,0,.5) inset;
}
.button{
  z-index: 1;
  position: relative;
  outline: 0;
  transition: all .5s;
  transition-timing-function: ease;
}
.button-anim::before{
  content: '';
  z-index: -1;
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  border-radius: 15px;
  opacity: 0;
  background: #fff;
  transform: scale3d(.5, .5, 1);
  transition: all .5s;
  transition-timing-function: ease;
}
.button-anim:hover::before{
  opacity: 1;
  transform: translate3d(0, 0, 0);
}
/*======================= HEADER =======================*/
header{
  height: 100px;
}
.header-content{
  display: flex;
  height: 100%;
  align-items: center;
}
.header-logo{
  display: block;
  height: 85px;
  margin: 0 auto;
}
.header-caption{
  width: 264px;
  font-size: 24px;
  text-transform: uppercase;
  margin: 0 auto;
}
.header-info{
  width: 286px;
  font-size: 15px;
  line-height: 1.4em;
  margin: 0 auto;
}
.map-link{
  font-weight: bold;
  color: #000;
  text-decoration: underline;;
}
.map-link:hover{
  color: #036ca6;
}
.header-social{
  margin: 0 auto;
}
.header-social a{
  display: block;
  height: 40px;
  margin: 5px 0;
}
.header-social a img{
  height: 40px;
  width: 40px;
}
/*======================= NAVIGATION =======================*/
nav{
  width: 100%;
  height: 50px;
  background: linear-gradient(to top, #036ca6, #028ec9);
}
nav ul{
  display: flex;
  height: 100%;
  align-items: center;
  position: relative;
}
.nav-btn{
  display: flex;
  width: 120px;
  height: 30px;
  border-radius: 5px;
  align-items: center;
  justify-content: center;
  font-size: 20px;
  color: #fff;
  margin-left: 25px;
}
.nav-btn:hover{
  color: #036ca6;
}
.nav-form-search{
  display: flex;
  height: 30px;
  margin-left: 280px;
}
.nav-form-search input{
  width: 290px;
  padding: 0 15px;
  border: 0;
  outline: 0;
  border-radius: 15px;
  font-size: 16px;
}
.nav-btn-user,
.nav-btn-login,
.nav-btn-search{
  width: 30px;
  height: 30px;
  margin-left: 10px;
  padding: 0;
  border: 0;
  background: 0;
  cursor: pointer;
  color: #fff;
  transition: all .7s;
}
.nav-btn-user i,
.nav-btn-login i,
.nav-btn-search i{
  font-size: 22px;
}
.nav-btn-user:hover,
.nav-btn-login:hover,
.nav-btn-search:hover{
  color: #036ca6;
}
/*======================= MAIN =======================*/
.main{
  padding: 25px 0 50px;
}
.main-about{
  position: relative;
  height: 400px;
}
.main-about > div{
  position: absolute;
  top: 0;
  left: 0;
  border-radius: 15px;
  width: 1090px;
  margin: 0 25px;
}
.main-about-img{
  height: 400px;
}
.main-about-img img{
  border-radius: 15px;
  height: 400px;
  width: 1090px;
}
.main-about-layer{
  z-index: 1;
  height: 400px;
  background: rgba(255,255,255,.85);
}
.main-about-content{
  z-index: 2;
}
.main-about-content p{
  margin: 0 25px 25px;
  font-size: 18px;
  text-align: center;
  white-space: pre-wrap;
}
.main-services-content{
  display: flex;
}
.main-services-content > article{
  width: 330px;
  background: #fff url(/assets/img/5.png);
  display: flex;
  height: 580px;
  align-items: center;
  border-radius: 15px;
  margin: 0 25px;
}
.main-services-content > article p{
  margin: 10px;
  text-align: center;
  width: 100%;
  max-height: 264px;
  overflow: hidden;
  font-size: 14px;
}
.main-content{
  display: flex;
}
.article{
  margin: 0 25px 25px;
  border-radius: 15px;
  padding-top: 25px;
  width: 800px;
  height: 240px;
  background: #fff url(/assets/img/4.png) center no-repeat;
}
.article h2{
  margin: 0 25px;
  width: 450px;
  font-size: 16px;
  overflow: hidden;
  height: 48px;
}
.article-description{
  margin: 3px 25px;
  width: 450px;
  overflow: hidden;
  font-size: 14px;
  text-align: justify;
  height: 120px;
}
.article-date{
  display: inline-block;
  margin: 0 25px;
  font-size: 14px;
  color: #565656;
  padding-top: 24px;
}
.article > a{
  text-decoration: underline;
  font-size: 14px;
  color: #565656;
}
.article a:hover{
  color: #036ca6;
}
.main-products h1{
  margin-right: 50px;
}
.main-product{
  width: 265px;
  height: 265px;
  margin: 0 25px 25px 0;
  overflow: hidden;
  position: relative;
  background: #fff;
  border-radius: 15px;
}
.product-img{
  display: flex;
  height: 192px;
}
.main-product img{
  margin: auto;
  max-height: 167px;
  max-width: 167px;
}
.main-product-content{
  position: absolute;
  width: 265px;
  height: 265px;
  top: 0;
  left: 0;
  transition: all .7s;
  padding-top: 167px;
}
.main-product .product-content:hover{
  padding-top: 0;
  background: #fff;
  box-shadow: 0 0 15px rgba(0,0,0,.5) inset;
}
.product-content h2{
  font-size: 16px;
  margin: 0 25px 25px;
  text-align: center;
  font-weight: normal;
}
.main-product-content h2{
  height: 72px;
  margin-top: 25px;
  overflow: hidden;
}
.product-content p{
  text-align: center;
  margin: 0 25px 25px;
  font-size: 20px;
  font-weight: bold;
}
.product-content > a{
  display: flex;
  width: 120px;
  height: 30px;
  justify-content: center;
  background: #036ca6;
  color: #fff;
  border: 1px solid #fff;
  border-radius: 15px;
  position: absolute;
  bottom: 25px;
  left: 50%;
  margin-left: -60px;
  align-items: center;
}
.product-content a:hover{
  color: #036ca6;
  border-color: #036ca6;
}
.main-articles > p,
.main-products > p{
  text-align: right;
  text-decoration: underline;
  font-weight: bold;
  margin: 0 25px 25px;
}
.main-articles > p:hover,
.main-products > p:hover{
  color: #036ca6;
}
/*======================= NEWS =======================*/
.news{
  padding-bottom: 50px;
}
.news-article{
  margin: 0 auto 25px;
}
.news-wrap > .separator:last-child{
  display: none;
}
/*======================= CATALOG =======================*/
.catalog{
  display: flex;
  padding-bottom: 50px;
}
.catalog-products h2{
  margin: 25px;
  font-size: 20px;
}
.catalog-filter{
  width: 275px;
  margin: 0 0 25px 25px;
}
.search-product .catalog-product{
  margin-left: 24px;
  
}
.catalog-product .product-img{
  height: 255px;
}
.filter-content{
  padding-top: 25px;
  background: #fff;
  width: 250px;
  border-radius: 15px;
}
.filter-content p{
  padding: 0 25px 25px;
  text-decoration: underline;
}
.filter-content a:hover{
  color: #036ca6;
}
.products-content{
  display: flex;
  flex-wrap: wrap;
}
.catalog-product{
  width: 255px;
  margin: 0 0 25px 25px;
  padding-bottom: 54px;
  background: #fff;
  border-radius: 15px;
  position: relative;
}
.catalog-product img{
  max-height: 205px;
  max-width: 205px;
  margin: auto;
}
.products-clean{
  height: 270px;
  width: 815px;
  align-items: center;
  justify-content: center;
  background: #fff;
  border-radius: 15px;
  font-size: 18px;
  display: flex;
  margin-right: 25px;
}
/*======================= ARTICLE & PRODUCT =======================*/
.article-page,
.product-page{
  padding: 25px 0 50px;
  display: flex;
  align-items: flex-start;
}
.article-page-content,
.product-page-content{
  width: 790px;
  margin: 0 25px 25px;
  background: #fff;
  border-radius: 15px;
}
.article-page h1,
.product-page h1{
  text-align: left;
  margin: 25px 25px 10px;
  font-size: 18px;
  text-transform: none;
  word-break: break-word;
}
.article-page-date{
  margin: 0 25px 25px;
  font-size: 14px;
  color: #565656;
}
.article-page-description,
.product-page-description{
  margin: 25px;
  text-align: justify;
  white-space: pre-wrap; 
}
.article-page-sidebar,
.product-page-sidebar{
  width: 275px;
  background: #fff;
  border-radius: 15px;
  margin-bottom: 25px;
}
.article-sidebar-date{
  margin: 0 25px;
  font-size: 14px;
  color: #565656;
}
.article-sidebar-name,
.product-sidebar-name{
  margin: 0 25px 25px;
  text-decoration: underline;
  word-break: break-word;
}
.product-sidebar-link,
.article-sidebar-link{
  text-align: center;
  font-size: 18px;
  text-decoration: underline;
  margin-bottom: 25px;
}
.product-sidebar-name a:hover,
.product-sidebar-link a:hover,
.article-sidebar-name a:hover,
.article-sidebar-link a:hover{
  color: #036ca6;
}
.product-flex{
  display: flex;
  height: 300px;
}
.product-flex .product-img{
  height: 300px;
  width: 300px;
}
.product-flex img{
  max-height: 250px;
  max-width: 250px;
  margin: auto;
}
.product-info p{
  margin: 25px 25px 25px 0;
}
.product-price{
  font-size: 20px;
  font-weight: bold;
  padding-bottom: 27px;;
}
.product-category{
  margin: 0 25px 25px;
  font-style: italic;
}
/*======================= FOOTER =======================*/
footer{
  position: absolute;
  bottom: 0;
  width: 100%;
  height: 50px;
  background: linear-gradient(to top, #036ca6, #028ec9);
  text-align: center;
  color: #fff;
  line-height: 50px;
}























body.open-login-menu .menu-user{
  height: 140px;
}
.menu-user{
  height: 0;
  background: #fff;
  box-shadow:0 0 10px 1px rgba(0,0,0,0.3) inset;
  width:560px;
  z-index:3;
  position:absolute;
  top:50px;
  right:25px;
  transition:all .7s;
  overflow: hidden;
}
.menu-profile{
  display: flex;
  height: 100%;
}
.menu-user-profile{
  width: 360px;
}
.user-flex{
  display: flex;
  width: 360px;
}
.user-img{
  height: 140px;
  width: 140px;
  display: flex;
}
.user-img img{
  max-height: 120px;
  max-width: 120px;
  margin: auto;
}
.user-info{
  margin: 10px 10px 10px 0;
}
.user-name{
  height: 96px;
  width: 210px;
}
.user-edit{
  display: flex;
  justify-content: space-between;
  width: 210px;
}
.user-edit a{
  text-decoration: underline;
  font-weight: bold;
}
.user-edit a:hover{
  color: #036ca6;
}
.menu-admin-profile{
  height: 100%;
  width: 180px;
  margin: 0 10px;
}
.menu-admin-profile > a{
  display: block;
  margin-top: 10px;
}
.menu-admin-profile button{
  width: 180px;
  height: 30px;
  padding: 0;
  outline: 0;
  background: #036ca6;
  color: #fff;
  cursor: pointer;
  font-size: 16px;
  border-radius: 15px;
  border: 1px solid #036ca6;
}
.menu-admin-profile button:hover{
  color: #036ca6;
}















.page-selector{
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100%;
  margin: 0 auto;
}
.page-selector > a{
  display: flex;
  width: 30px;
  height: 30px;
  margin: 0 5px 25px 0;
  align-items: center;
  justify-content: center;
  font-size: 24px;
  border-radius: 10px;
  box-shadow: 0 0 10px rgba(0,0,0,.5) inset;
  transition: all .5s;
}
.switch-item{
  color: #036ca6;
  background: #fff;
}
.switch-item-cur{
  color: #fff;
  background-color: #036ca6;
}
.switch-item:hover{
  color: #fff;
  background: #028ec9;
}











.drop-form{
  top: -550px;
  height: 380px;
  position: fixed;
  z-index: 20;
  overflow: hidden;
  transition: all 0.5s;
  left: 50%;
  margin-left: -275px;
  width: 550px;
  border-radius: 15px;
  background: #fff;
}
.close{
  position: absolute;
  top: 10px;
  right: 15px;
  font-size: 30px;
  cursor: pointer;
}
.close:hover{
  color: #036ca6;
}
.sign-in,
.sign-up{
  width: 550px;
  padding: 25px 0 50px;
  margin: 0 auto;
}
.sign-in-content,
.sign-up-content{
  margin: 0 0 025px;
  padding-top: 1px;
  background: #fff;
  border-radius: 15px;
}
.sign-up-form label,
.sign-in-form label{
  display: block;
  margin: 0 25px;
}
.sign-up-form input,
.sign-in-form input{
  margin: 0 25px 25px;
  width: 478px;
  height: 30px;
  padding: 0 10px;
  border: 1px solid #036ca6;
}
.form-btn{
  width: 160px;
  height: 30px;
  margin: 0 195px 25px;
  border: 1px solid #036ca6;
  padding: 0;
  outline: 0;
  border-radius: 15px;
  background: #036ca6;
  color: #fff;
  font-size: 20px;
  cursor: pointer;
}
.form-btn:hover{
  color: #036ca6;
}
.drop-form > p{
  text-align: center;

}
.drop-form > p a{
  text-decoration: underline;
}
.drop-form > p a:hover{
  color: #036ca6;
}
body.open .drop-form {
   top: 50%;
   margin-top: -190px;
}
.mask {
    position: fixed;
    top: 0;
    left: 0;
    z-index: 2;
    width: 100%;
    height: 100%;
    background: rgba(0, 0, 0, 0.8);
}





.notice {
  z-index: 99;
  position: fixed;
  border-radius: 15px;
  top: -100px;
  width: 300px;
  text-align: center;
  color: #fff;
  background: #028ec9;
  left: 50%;
  margin-left: -150px;
  padding: 15px;
  -moz-animation: slideup 8s;
  -webkit-animation: slideup 8s;
  -o-animation: slideup 8s;
  animation: slideup 8s;
  box-shadow: 0 0 15px rgba(0,0,0,.5),
              0 0 15px rgba(0,0,0,.5) inset;
}
@-moz-keyframes slideup {
  0% {
    top:-100px;
  }
  15% {
    top:20px;
  }
  85% {
    top:20px;
  }
  100% {
    top:-100px;
  }
}
@-webkit-keyframes slideup {
  0% {
    top:-100px;
  }
  15% {
    top:20px;
  }
  85% {
    top:20px;
  }
  100% {
    top:-100px;
  }
}
@-o-keyframes slideup {
  0% {
    top:-100px;
  }
  15% {
    top:20px;
  }
  85% {
    top:20px;
  }
  100% {
    top:-100px;
  }
}

@keyframes slideup {
  0% {
    top:-100px;
  }
  15% {
    top:20px;
  }
  85% {
    top:20px;
  }
  100% {
    top:-100px;
  }
}



.admin-panel{
  padding-bottom: 50px;
  display: flex;
}
.admin-menu{

}
.admin-menu .panel{
  width: 715px;
  margin: 0 187px 25px;

}
.admin-menu .panel .admin-info{
  font-weight: bold;
  margin-bottom: 25px;
}
.admin-menu .panel .admin-info p{
  text-decoration: none;
}
.admin-menu-content{
  width: 250px;
  margin-left: 25px;
  padding: 25px;
  background: #fff;
  border-radius: 15px;
}
.admin-menu-content > div{
  margin-bottom: 25px;
}
.admin-menu-content > div:last-child{
  margin: 0;
}
.admin-menu-content h2{
  font-size: 20px;
  margin-bottom: 5px;;

}
.admin-menu-content p{
  text-decoration: underline;

}
.admin-menu-content p a:hover{
  color: #036ca6;
}
.admin-panel-content{
  padding-top: 1px;;
}
.admin-panel-content form{
  width: 715px;
  background: #fff;
  border-radius: 15px;
  padding: 25px;
  margin: 0 25px 25px;
  position: relative;

}
.admin-panel-content form > label{
  display: block;
  margin-bottom: 5px;
  font-weight: bold;

}
.admin-panel-content form .input-file{
  padding: 0;
  height: 24px;
}
.admin-panel-content form > img{
  max-height: 250px;
  max-width: 250px;

}
.admin-panel-content form > input{
  width: 691px;
  height: 30px;
  padding: 0 10px;
  font-size: 16px;
  margin-bottom: 25px;
}
.admin-panel-content form > textarea{
  width: 693px;
  resize: vertical;
  min-height: 154px;
  display: block;
  margin-bottom: 25px;
  padding: 10px;
  font-size: 16px;
  font-family: inherit;
  white-space: pre-wrap;
}
.admin-panel-content form > select{
  height: 34px;
  width: 235px;
  font-size: 16px;
  margin-bottom: 25px;
}
.admin-panel-content form > button{
  width: 160px;
  height: 30px;
  border: 1px solid #036ca6;
  padding: 0;
  outline: 0;
  border-radius: 15px;
  background: #036ca6;
  color: #fff;
  font-size: 20px;
  cursor: pointer;
  margin: 0 277.5px;
}
.admin-panel-content form > button:hover{
  color: #036ca6;
}
.admin-panel-content form > a{
  position: absolute;
  top: 15px;
  right: 25px;
  font-size: 18px;
  text-decoration: underline;
}
.admin-panel-content form > p{
  text-decoration: underline;
  display: inline-block;
  width: 350px;
  margin: 0 5px 25px 0;
}
.admin-panel-content form > span{
  margin: -25px 0 25px 0;
  text-decoration: underline;
  text-align: right;
  display: block;
}
.admin-panel-content form  a i{
  margin: 0 5px;
}
.admin-panel-content form a:hover{
  color: #036ca6;
}
.profile-edit > form{
  margin: 0 187px 25px;
}