@import url(/assets/styles/reset.css);
@import url(/assets/styles/fonts.css);

html{
  height: 100%;
  width: 100%;
}
body{
  height: 100%;
  width: 100%;
  font: 16px/1.5em Noto Sans, sans-serif;
}
.container{
  width: 100%;
  min-width: 1152px;
  min-height: 100%;
  position: relative;
}
.notice {
  z-index: 99;
  position: fixed;
  top: 50%;
  left: 50%;
  width: 300px;
  margin: -56px 0 0 -150px;
  padding: 15px;
  border: 1px solid #fff;
  text-align: center;
  color: #fff;
  background: #036ca6;
}
.mask{
  z-index: 98;
  position: absolute;
  top: 0;
  left: 0;
  height: 100%;
  width: 100%;
  background: rgba(0,0,0,.8);
}


/*======================================== HOVER ДЛЯ КНОПОК ========================================*/


.button{
  position: relative;
  z-index: 1;
  transition: all .5s;
  transition-timing-function: ease;
  outline: 0;
}
.button-anim::before{
  content: '';
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: #fff;
  z-index: -1;
  opacity: 0;
  transition: all .5s;
  transition-timing-function: ease;
  transform: scale3d(.5, .5, 1);
}
.button-anim:hover::before{
  opacity: 1;
  transform: translate3d(0, 0, 0);
}


/*============================== ПЕРЕКЛЮЧАТЕЛЬ СТРАНИЦ ================================*/


.page-selector{
  align-items: center;
  justify-content: center;
  display: flex;;
}
.page-selector > a{
  font-size: 24px;
  width: 30px;
  display: flex;
  align-items: center;
  justify-content: center;
  height: 30px;
  margin: 0 5px 25px 0;
}
.switch-item{
  color: #fff;
}
.switch-item-cur{
  color: #036ca6;
  background-color: #fff;
}
.switch-item:hover{
  color: #036ca6;
  background: #fff;
}


/*======================================== ШАПКА ========================================*/


header{
  display: flex;
  height: 120px;
  width: 1152px;
  margin: 0 auto;
}
.header-content{
  margin: auto;
}
.company-logo{
}
.company-phone,
.company-address{
  padding-left: 28px;
}
.phone-icon,
.address-icon{
  position: relative;
  margin: 5px 0; 
  font-size: 24px;
  font-weight: bold;
}
.address-icon:before{
  content: '';
  display: block;
  height: 26px;
  width: 26px;
  position: absolute;
  left: -28px;
  background: url(/assets/img/marker.png) no-repeat;
}
.phone-icon:before{
  content: '';
  display: block;
  height: 26px;
  width: 26px;
  position: absolute;
  left: -28px;
  background: url(/assets/img/phone.png) no-repeat;
}
.company-social a{
  display: flex;
  margin-bottom: 5px;
  align-items: center;
  color: #000;
}
.company-social a p{
  margin-left: 5px;
  text-transform: uppercase;
}
.company-social a:hover{
  color: #565656;
}


/*======================================== МЕНЮ ========================================*/


nav{
  height: 50px;
  width: 100%;
  background: linear-gradient(to top, #036ca6, #028ec9);
  box-shadow: 0 0 10px rgba(0,0,0,.5) inset;
}
.nav-content{
  position: relative;
  display: flex;
  height: 100%;
  width: 1152px;
  margin: 0 auto;
  align-items: center;
}
.nav-btn{
  display: flex;
  width: 120px;
  height: 34px;
  align-items: center;
  justify-content: center;
  text-transform: uppercase;
  color: #fff;
  margin-left: 8px;
}
.nav-btn:hover{
  color: #036ca6;
}
.search-form{
  display: flex;
  height: 34px;
  margin-left: 304px;
}
.search-form input{
  height: 100%;
  width: 370px;
  padding: 0 0 0 10px;
  border: 0;
  outline: 0;
  font-size: 16px; 
}
::-webkit-input-placeholder{
  color: #036ca6;
  font-weight: bold;
}
.user-signin-btn,
.signin-btn,
.search-btn{
  height: 34px;
  width: 34px;
  margin-left: 8px;
  padding: 0;
  cursor: pointer;
  background: 0;
  color: #fff;
  border: 0;
}
.user-signin-btn i,
.signin-btn i,
.search-btn i{
  font-size: 24px;
  margin: 0px 6px;
}
.user-signin-btn:hover,
.signin-btn:hover,
.search-btn:hover{
  color: #036ca6;
}
.menu-user{
  height: 315px;
  background: #fff url(/assets/img/texture.png);
  display: none;
  position: absolute;
  top: 50px;
  right: 0;
  z-index: 2;
  box-shadow:0 0 10px 1px rgba(0,0,0,0.3) inset;
}
.menu-profile{
  display: flex;
}
.user-profile{
  width: 463px;
}
.menu-profile .page-title h1{
  color: #036ca6;
  margin-top: 25px;
}
.user-info{
  display: flex;
}
.user-img{
  width: 150px;
  height: 150px;
  margin: 0 25px 25px;
}
.user-ne p{
  margin: 0 25px 5px 0;
  color: #036ca6;
  font-weight: bold;
  overflow: hidden;
  max-height: 48px;
}
.admin-profile{
  width: 400px;
}
.admin-btn{
  cursor: pointer;
  height: 50px;
  width: 200px;
  outline: 0;
  border: 1px solid #036ca6;
  color: #fff;
  padding: 0;
  text-transform: uppercase;
  background: #036ca6;
  margin-left: 25px;
}
.user-btns{
  display: flex;
}
.user-edit-btn,
.user-exit-btn{
  cursor: pointer;
  height: 40px;
  width: 150px;
  outline: 0;
  border: 1px solid #036ca6;
  color: #fff;
  padding: 0;
  text-transform: uppercase;
  background: #036ca6;
  margin-left: 25px;
}
.admin-btn:hover,
.user-edit-btn:hover,
.user-exit-btn:hover{
  color: #036ca6;
}


/*======================== БЛОК РЕГИСТРАЦИИ/АВТОРИЗАЦИИ =========================*/


.drop-form{
  height: 425px;
  background: #fff url(/assets/img/texture.png);
  position:absolute;
  width: 576px;
  margin-left:-576px;
  display:none;
  z-index:2;
  box-shadow:0 0 10px 1px rgba(0,0,0,0.3) inset;
  align-items:center;
  right:0;
  top:50px;
}
.drop-content{
}
.drop-sign-in{
  padding-top: 25px;
  border-bottom: 2px solid;
  border-image: linear-gradient(to left, rgba(0, 0, 0, 0),
                                         rgba(3,108,166,1),
                                         rgba(0, 0, 0, 0)) 0 0 100%;
}
.drop-sign-in .page-title h1{
  color: #036ca6;
}
.drop-sign-in .sign-in-form{
  background: 0;
}
.drop-sign-up{
  display: flex;
  align-items: center;
  justify-content: center;
  margin-bottom: 25px;
}
.drop-sign-up button{
  margin: 25px;
}


/*======================================== ГЛАВНАЯ СТРАНИЦА ========================================*/


.main-content{
  position: relative;
  width: 100%;
  padding-bottom: 50px;;
}
.main-about{
  height: 400px;
  width: 1152px;
  margin: 25px auto;
  display: flex;
}
.about-img{
  width: 742px;
  height: 100%;
  border-right: 8px solid #343434;
}
.about-content{
  width: 402px;
  background: #036ca6 url(/assets/img/texture.png);
  color: #fff;
  padding-top: 25px;
}
.about-content p{
  text-align: justify;
  margin: 0 25px;
}
.main-services{
  width: 1152px;
  margin: 0 auto 25px;
  background: #036ca6 url(/assets/img/texture.png);
  padding-top: 25px;
}
.main-services h1{
  text-align: center;
  font-size: 24px;
  text-transform: uppercase;
  margin-bottom: 25px;
  color: #fff;
}
.main-services-content{
  display: flex;
  height: 397px;
}
.main-service{
  width: 350px;
  margin-left: 25px;
  background: #fff;
  height: 372px;
}
.main-service p i{
  font-size: 40px;
  color: #036ca6;
  margin-top: 25px;
}
.main-service p{
  text-align: center;
  margin: 0 25px 25px;
  color: #343434;
}
.main-art-and-prod{
  display: flex;
  width: 1152px;
  margin: 0 auto 25px;
  background: #036ca6 url(/assets/img/texture.png);
}
.main-articles{
  position: relative;
  width: 800px;
  padding-top: 25px;
  border-right: 2px solid;
  border-image: linear-gradient(to top, rgba(0, 0, 0, 0),
                                        rgba(255,255,255,1),
                                        rgba(0, 0, 0, 0)) 0 100% 0 0;
}
.main-products{
  width: 350px;
  padding-top: 25px;
}
.main-articles-content{
  margin: 25px 25px 25px 0;
}
.main-products h1,
.main-articles h1{
  margin-bottom: 25px;
  text-align: center;
  font-size: 24px;
  text-transform: uppercase;
  color: #fff;;
}
.main-products-block,
.main-articles-block{
  margin-bottom: 25px;
}
.main-article{
  height: 225px;
  width: 742px;
  text-align: justify;
  display: flex;
  border-left: 8px solid #343434;
  background: #fff;
  margin: 0 25px 25px 25px;
}
.main-article-nd{
  height: 155px;
  width: 434px;
}
.main-article-img{
  height: 175px;
  width: 233px;
  margin: 25px;
}
.main-article-name{
  max-height: 48px;
  overflow: hidden;
}
.main-article-name a{
  color: #000;
  font-size: 19px;
  font-weight: bold;
}
.main-article-name a:hover{
  color: #565656;
}
.main-article-description{
  max-height: 96px;
  overflow: hidden;
}
.main-article-date{
  font-size: 14px;
  color: #565656;
  height: 20px;
}
.main-product{
  position: relative;
  height: 225px;
  width: 300px;
  margin: 0 25px 25px 25px;
}
.main-right-link{
  display: flex;
  justify-content: flex-end;  
}
.main-right-link a{
  margin: 0 25px 25px 0;
  color: #fff;
  text-decoration: underline;
}
.main-right-link i{
  margin-left: 5px;
}
.main-product-img{
  height: 225px;
  width: 300px;
}
.main-product-info{
  position: absolute;
  top: 0;
  left: 0;
  width: 300px;
  height: 225px;
  background: rgba(255,255,255,.85);
  transition: all .5s;
  transition-timing-function: ease;
  opacity: 0;
}
.main-product-info:hover{
  opacity: 1;
  transform: translate3d(0, 0, 0);
}
.main-product-info p{
  overflow: hidden;
  text-align: center;
  color: #036ca6;;
}
.main-product-name{
  height: 48px;
  font-size: 19px;
  font-weight: bold;
  margin: 25px 25px 5px 25px;
}
.main-product-description{
  height: 96px;
  margin: 0 25px 5px;;
}
.main-product-price{
  height: 24px;
  font-weight: bold;
  margin: 0 25px;
}
.main-product-price i{
  margin-left: 5px;
}


/*============================== СТРАНИЦА ВСЕХ НОВОСТЕЙ =================================*/


.news{
  width: 1152px;
  margin: 0 auto;
  padding: 25px 0 50px;
}
.news-block{
  padding-top: 25px;
  background: #036ca6 url(/assets/img/texture.png);
  margin-bottom: 25px;
}
.page-title h1{
  margin-bottom: 25px;
  text-align: center;
  font-size: 24px;
  text-transform: uppercase;
  color: #fff;
}
.page-title i{
  margin-right: 10px;
}
.news-article{
  width: 1102px;
  height: 275px;
  background: #fff;
  display: flex;
  margin: 0 auto 25px;
}
.news-article-img{
  height: 225px;
  width: 300px;
  margin: 25px;
}
.news-articles-content{
  width: 727px;
  height: 225px;
  margin: 25px 25px 25px 0;
}
.news-article-nd{
  height: 205px;
  width: 727px;
}
.news-article-name{
  overflow: hidden;
  font-size: 19px;
  font-weight: bold;
  margin-bottom: 5px;
  max-height: 48px;
}
.news-article-name a{
  color: #000;
}
.news-article-name a:hover{
  color: #565656;
}
.news-article-description{
  margin-bottom: 8px;
  overflow: hidden;
  text-align: justify;
  max-height: 144px;
}
.news-article-date{
  font-size: 13px;
  color: #565656;
  height: 20px;
}
.border{
  width: 1102px;
  margin: 25px auto 0;
  border-bottom: 3px solid;
  border-image: linear-gradient(to left, rgba(0, 0, 0, 0),
                                         rgba(0, 0, 0, 0),
                                         rgba(255,255,255,1),
                                         rgba(0, 0, 0, 0),
                                         rgba(0, 0, 0, 0)) 0 0 100%;
}
.border:last-of-type{
  border: 0;
}


/*============================= СТРАНИЦА ВСЕХ ПРОДУКТОВ ==================================*/


.products{
  width: 1152px;
  margin: 0 auto;
  padding: 25px 0 50px 0;
}
.products-content{
  background: #036ca6 url(/assets/img/texture.png);
  display: flex;
  padding-top: 25px;
  margin-bottom: 25px;
  min-height: 350px;
}
.products-filter{
  width: 277px;
}
.products-filter p{
  margin: 0 25px 25px;;
}
.products-filter p a{
  color: #fff;
  font-size: 19px;
  text-transform: uppercase;
}
.products-filter p i{
  margin-right: 10px;
}
.products-filter p a:hover{
  font-weight: bold;
}
.products-catalog{
  width: 875px;
}
.products-catalog-content{
  display: flex;
  flex-wrap: wrap;
}
.product{
  margin: 0 0 25px 25px;
  background: #fff;
  width: 400px;
}
.product-img{
  height: 300px;
  width: 400px;
}
.product-nd{
  height: 217px;
  width: 100%;  
}
.product-name{
  max-height: 48px;
  font-size: 20px;
  margin: 0 25px 25px;
  overflow: hidden;
}
.product-name a{
  color: #000;
}
.product-name a:hover{
  color: #565656;
}
.product-description{
  max-height: 144px;
  margin: 0 25px;
  overflow: hidden;
}
.product-price{
  font-size: 20px;
  color: #565656;
  text-align: center;
  margin: 25px;
  padding-top: 25px;
  border-top: 2px solid;
  border-image: linear-gradient(to left, rgba(0, 0, 0, 0),
                                         rgba(0, 0, 0, 0),
                                         rgba(3,108,166,1), 
                                         rgba(0, 0, 0, 0),
                                         rgba(0, 0, 0, 0)) 100% 0 0;
}
.product-price i{
  margin-left: 5px;
}
.products-clean{
  text-align: center;
  font-size: 20px;
  color: #fff;
  width: 100%;
}


/*========================= СТРАНИЦА ОДНОЙ НОВОСТИ ===========================*/


.article{
  width: 1152px;
  margin: 0 auto;
  padding: 25px 0 50px;
}
.article-content{
  background: #036ca6 url(/assets/img/texture.png);
  padding: 25px 0;
  margin-bottom: 25px;
}
.article-title{
  font-size: 24px;
  margin: 0 25px 25px;
  max-height: 48px;
  overflow: hidden;
  color: #fff;;
}
.article-title i{
  margin-right: 10px;
}
.article-img{
  display: block;
  max-width: 800px;
  max-height: 600px;
  margin: 0 auto 25px;
}
.article-info{
  background: #fff;
  margin: 0 25px;
  padding: 25px 0;
}
.article-text{
  margin: 0 25px 25px;
  text-align: justify;
}
.article-date{
  margin: 0 25px;
  color: #565656;
  font-size: 14px;
  clear: both;
}


/*======================== СТРАНИЦА ОДНОГО ПРОДУКТА =============================*/


.goods{
  width: 1152px;
  margin: 0 auto;
  padding: 25px 0 50px;
}
.goods-content{
  padding: 25px 0;
  margin-bottom: 25px;
  background: #036ca6 url(/assets/img/texture.png);
}
.goods-info{
  display: flex;
}
.goods-name{
  color: #fff;
  margin: 0 25px 25px;
  font-size: 19px;
}
.goods-img{
  margin: 0 25px;
  width: 400px;
  height: 300px;
}
.goods-pod{
  height: 300px;
  background: #fff;
  width: 677px;
}
.goods-price{
  margin: 25px 25px 5px;
  font-size: 19px;
  font-weight: bold;
}
.goods-price i{
  margin-left: 5px;
}
.goods-order{
  margin: 0 25px;
  padding-bottom: 25px;
  border-image: linear-gradient(to left, rgba(0, 0, 0, 0),
                                         rgba(0, 0, 0, 0),
                                         rgba(3,108,166,1),   
                                         rgba(0, 0, 0, 0),  
                                         srgba(0, 0, 0, 0)) 0 0 100%;
  border-bottom: 2px solid;
}
.goods-description{
  margin: 25px 25px 0;
  height: 144px;
  overflow-y: auto;
}


/*==================== СТРАНИЦЫ АВТОРИЗАЦИИ/РЕГИСТРАЦИИ =========================*/

.sign-up,
.sign-in{
  width: 1152px;
  margin: 0 auto;
  padding: 25px 0 50px;
}
.sign-up-content,
.sign-in-content{
  background: #036ca6;
  padding: 25px 0;
  margin-bottom: 25px;
}
.sign-up-form{
  height: 362px;
  width: 426px;
  background: #fff;
}
.sign-in-form{
  height: 210px;
  width: 426px;
  background: #fff;
}
.form{
  margin: auto;
  padding: 25px;
}
.form input{
  width: 414px;
  padding-left: 10px;
  margin: 10px auto;
  color: #036ca6;
  font-weight: bold;
  height: 30px;
  font-size: 16px;
  border: 1px solid #036ca6;
  display: block;
}
.form label{
  color: #036ca6; 
}
.form-btn:hover{
  color: #036ca6;
}
.form-btn{
  cursor: pointer;
  height: 40px;
  width: 150px;
  text-transform: uppercase;
  margin: 14px 137px 0;
  padding: 0;
  outline: 0;
  background: #036ca6;
  border: 1px solid #036ca6;
  color: #fff;
}


/*============================= АДМИНИСТРИРОВАНИЕ ================================*/

 
.admin-panel{
  width: 1152px;
  margin: 0 auto;
  padding: 25px 0 50px;
} 
.admin-panel-content{
  background: #036ca6 url(/assets/img/texture.png);
  margin-bottom: 25px;
  padding: 25px 0;
}
.admin-panel-content p{
  color: #fff;
  margin-left: 25px;
  font-size: 19px;
  font-weight: bold;
}
.admin-panel-blocks{
  display: flex;
}
.panel-block{
  width: 350px;
  height: 350px;
  margin: 25px 0 25px 25px;
  background: #fff;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}
.admin-block-main a,
.admin-block-products a,
.admin-block-articles a{
  background: #036ca6;
  display: flex;
  width: 300px;
  height: 50px;
  color: #fff;
  align-items: center;
  justify-content: center;
  font-size: 18px;
  border: 1px solid #036ca6;
  margin: 5px 0;
}
.admin-block-main a:hover,
.admin-block-products a:hover,
.admin-block-articles a:hover{
  color: #036ca6;
}
.form-main-edit{
  width: 576px;
  margin: 0 auto 25px;
  background: #fff;
  display: flex;
  flex-direction: column;;
}
.form-main-edit label{
  margin: 5px 25px;
  font-size: 19px;
  text-align: center;
}
.form-main-edit textarea{
  width: 514px;
  min-height: 200px;
  padding: 5px;
  margin: 5px 25px;
  resize: vertical;
}
.form-main-edit  input{
  height: 40px;
  margin: 5px 25px;
  padding-left: 5px;
}
.form-main-edit input[type="submit"]{
  width: 150px;
  margin: 5px auto;
  padding: 0;
}
.form-main-edit select{
  width: 527px;
  margin: 5px auto;
}
.form-main-edit img{
  width: 400px;
  height: 300px;
  display: block;
  margin: 5px auto;
}
table{
  width: 567px;
  margin: 25px auto;
  background: #fff;
}
table tr{
  border: 1px solid #036ca6;
}
table td{
  border: 1px solid #036ca6;
  height: 30px;
  text-align: center;
}
.panel-news-products{
  justify-content: center;
  background: #fff;
  width: 1102px;
  margin: 0 auto;
  display: flex;
  flex-direction: column;
}
.panel-news-products a{
  color: #000;
  font-size: 19px;
  margin: 10px 25px;
}
.panel-news-products a:hover{
  color: #565656;
}
.profile-edit img{
  width: 300px;
  height: 300px;
  display: block;
  margin: 10px auto;
}


/*======================================== ПОДВАЛ ========================================*/


footer{
  display: flex;
  position: absolute;
  left: 0;
  bottom: 0;
  width: 100%;
  height: 50px;
  align-items: center;
  justify-content: center;
  background: linear-gradient(to top, #036ca6, #028ec9);
  box-shadow: 0 0 10px rgba(0,0,0,.5) inset;
  color: #fff;
}