*{
  padding: 0;
  margin: 0;
}

html{
  height: 100%;
  width: 100%;
}

body{
  height: 100%;
  width: 100%;
  font: 16px/1.5em Arial;
}

.container{
  width: 100%;
  min-width: 960px;
  min-height: 100%;
  box-sizing: border-box;
  padding-bottom: 40px;  
}

.wrap{
  width: 100%;
  height: 100%;
  max-width: 960px;
  margin: 0 auto;
}

/* header */

header{
  width: 100%;
  height: 150px;
}

.head-con{
  float: left;
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  text-align: start;
}

.head-con p{
  margin: 5px 0 5px 15px;
}

.logo-link{
  width: 150px;
}

.logo-img{
  height: 100px;
  width: 100px;
  margin: 25px;;
}

.name-info{
  width: 220px;
}

.address-info{
  width: 220px;
}

.phone-info{
  width: 150px;
}

.social-info{
  width: 220px;
}

/* menu */

menu{
  width: 100%;
  height: 40px;
  background-color: #444;
}

menu li{
  float: left;
  display: block;
  height: 100%;
  width: 150px;
  text-align: center;
  background-color: #028ec9;
}

menu li:last-child{
  width: 100px;
  background-color: #092;
  text-transform: uppercase;
}

menu li a{
  text-decoration: none;
  line-height: 40px;
  height: 100%;
  width: 100%;
  display: block;
  color: #fff;
}

.search-form{
  float: left;
  height: 100%;
  width: 410px;
  background-color: #028ec9;
}

.search-form input{
  width: 300px;
  height: 100%;
  padding-left: 10px;
  float: left;
  border: none;
  background-color: #eee; 
}

.search-form input:focus{
  outline: none;
}

.search-form button{
    float: right;
    border: none;
    cursor: pointer;
    height: 100%;
    width: 100px;
    color: #fff;
    text-transform: uppercase;
    background: #f70;
    outline: none;
    font-size: 16px;
}

#sub-login{
  height: 200px;
  background-color: #f00;
  width: 200px;
  margin-left: -100px;
}

.registr{
  height: 20px;
  margin-top: -40px;
  background-color: brown;
  line-height: 19px;
}

/*main*/

main{
  height: 900px;
  background-color: #ccc;
}

/*registration*/

.registration{
  height: 900px;
  background-color: #ccc;
}

/*authorization*/

.authorization-page{
  height: 200px;
}

/*about*/

.about{
  height: 900px;
  background-color: #ccc;
}

/*footer*/

footer{
  width: 100%;
  height: 40px;
  margin-top: -40px;
  background-color: #444;
  text-align: center;
  line-height: 40px;
}

footer span{
  color: #fff;
}
a.registr{
}