*{
  padding: 0;
  margin: 0;
}

html{
  height: 100%;
  width: 100%;
}

body{
  height: 100%;
  width: 100%;
  font: 16px/1.5em Arial;
}

.container{
  width: 100%;
  min-width: 1000px;
  min-height: 100%;
  padding-bottom: 40px;
  background-color: #d2e5eb;
  box-sizing: border-box;
  position: relative;
  z-index: 10;  
}

.flex{
  display: flex;
}

.wrap{
  margin: 0 auto;
  width: 1000px;
  height: 100%;
}

/*header */

header{
  background: linear-gradient(to top, #d7ebf3, #fff);
  height: 150px;
  width: 100%;
}

.head-contacts{
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  font-size: 18px;
  font-family: 'Roboto Slab', serif;
  margin: auto;
}

.logo-img{
  height: 100px;
  width: 100px;
}

.name-info{
  text-transform: uppercase;
  font-weight: 900;
  font-size: 34px;
}

.margin{
  margin-left: 29px;
}

.bold-text{
  font-weight: bold;
  font-size: 24px;
}

.marker-icon:before{
  content: '';
  height: 24px;
  float: left;
  background: url('/assets/img/marker.png');
  display: block;
  width: 24px;
  margin-right: 5px;
}

.phone-icon:before{
  content: '';
  display: block;
  background: url('/assets/img/phone.png');
  width: 24px;
  height: 24px;
  float: left;
  margin-right: 5px;
}

.social-info a{
  align-items: center;
  text-decoration: none;
  color: #343434;
  width: 200px;
  margin-bottom: 5px;
}

.social-info p{
  margin-left: 5px;
}

/* menu */

menu{
  width: 100%;
  height: 50px;
  font-weight: bold;
  font-size: 20px;
  background-color: #036ca6;
}

menu .wrap > a{
  height: 40px;
  display: flex;
  box-sizing: border-box; 
  justify-content: center;
  align-items: center;
  color: #fff;
  margin: auto;
  text-decoration: none;
  width: 150px;
  border: 2px solid #036ca6;
  border-radius: 20px;
  transition: all .5s;
}

menu a:hover{
  border-color: #fff;
}

.search-form{
  height: 40px;
  width: 440px;
  box-sizing: border-box;
  margin: auto 0;
}

.search-form input{
  width: 390px;
  height: 100%;
  border: 0;
  padding-left: 10px;
  box-sizing: border-box; 
}

.search-form input:focus{
  outline: 0;
  background: #fff;
}

.search-form button{
    height: 40px;
    width: 40px;
    cursor: pointer;
    outline: none;
    border: none;
    margin: auto;
    background: none;;;
}

.search-form button:hover{
  border: 2px solid #fff;
  border-radius: 50%;
}

.login{
  height: 40px;
  width: 40px;
  margin: auto;
  border: 0;
  outline: 0;
  background: none;
  cursor: pointer;
}

.login:hover{
  border: 2px solid #fff;
  border-radius: 50%;
}

#sub-login{
  height: 350px;
  width: 1000px;
  background-color: #f00;
  margin:0 auto;
}

.registr{
  height: 20px;
  margin-top: -40px;
  background-color: brown;
  line-height: 19px;
}

/* Блок авторизации / регистрации 

.block-login{
  position: fixed;
  z-index: 16;
  top: -350px;
  left: 50%;
  height: 350px;
  width: 1000px;
  margin-left: -500px;
  margin-top: -175px;
  background-color: #67b5d1;
  transition: all .5s;
}

.form-auth{
  background-color: #00F;
}

.show-login .block-login{
  top: 50%;
}

.mask {
    position: fixed;
    top: 0;
    left: 0;
    z-index: 15;
    width: 100%;
    height: 100%;
    background: rgba(0, 0, 0, .8);
}

*/

/* main */



/* news */

.block-news{

}

.news-content{
  flex-direction: column;
  width: 100%;
}

.post{
  height: 350px;
  width: 900px;
  margin: 50px auto 0;
  background-color: #fff;
  border: 1px solid #036ca6;
  box-sizing: border-box;
  display: flex;
}

.post:last-child{
  margin: 50px auto;
}

.post-left{
  display: block;
  width: 400px;
  height: 300px; 
  margin: 25px;
}

.post-picture{
  height: 100%;
  width: 100%;
  box-shadow: 0 0 10px 1px rgba(0,0,0,0.5);
}

.post-right{
  display: flex;
  flex-direction: column;
  width: 425px;
  height: 300px;
  margin: 25px 25px 25px 0;
  justify-content: space-between;
}

.description{
  width: 100%;
  height: 275px;
}

.description a{
  text-decoration: none;
  font-size: 24px;
  font-weight: bold;
  font-family: 'Roboto Slab', serif;
  color: #036ca6;
  display: block;
  margin-bottom: 10px;
}

.description a:hover{
  color: #028ec9;
}

.more{
  width: 100%;
  height: 25px;
  display: flex;
  justify-content: space-between;
  align-items: flex-end;
}

.more p{
  font-size: 12px;
  font-weight: 600;
  color: #565656;
}

.more a{
  color: #565656;
  font-size: 12px;
}

.more a:hover{
  color: #343434;
}

/*registration*/

.registration{
  height: 900px;
  background-color: #ccc;
}

/*authorization*/

.authorization-page{
  height: 200px;
}

/*about*/

.about{
  height: 900px;
  background-color: #ccc;
}

/*footer*/

footer{
  width: 100%;
  height: 40px;
  margin-top: -40px;
  text-align: center;
  line-height: 40px;
  background-color: #036ca6;
}

footer span{
  color: #fff;
}

a.registr{
}