@import url(/assets/styles/reset.css);
@import url(/assets/styles/fonts.css);

html{
  height: 100%;
  width: 100%;
}

body{
  height: 100%;
  width: 100%;
  font: 16px/1.5em Arial;
}

.container{
  box-sizing: border-box;
  width: 100%;
  min-width: 1000px;
  min-height: 100%;
  padding-bottom: 40px;
  background: linear-gradient(to top, #d7ebf3, #fff);  
}

.flex{
  display: flex;
}

.wrap{
  width: 1000px;
  margin: 0 auto;
  box-shadow: 0 0 10px 1px rgba(0,0,0,0.3) inset;
  height: 100%;
}

/*-------------------------------------- ШАПКА САЙТА --------------------------------------*/

header{
  height: 150px;
  font-family: 'Roboto Slab', serif;
  font-size: 18px;
}
.head-contacts{
  margin: auto;
}
.name-info{
  font-size: 34px;
  font-weight: 900;
  text-transform: uppercase;
}
.margin{
  margin-left: 29px;
}
.phone-icon,
.marker-icon{
  font-size: 24px;
  font-weight: bold;
}
.marker-icon:before{
  content: '';
  float: left;
  height: 24px;
  width: 24px;
  margin-right: 5px;
  background: url(/assets/img/marker.png);
}
.phone-icon:before{
  content: '';
  float: left;
  height: 24px;
  width: 24px;
  margin-right: 5px;
  background: url(/assets/img/phone.png);
}
.social-info a{
  width: 200px;
  align-items: center;
  margin: 5px 0;
}
.social-info a:hover{
  font-weight: bold;
}
.social-info p{
  margin-left: 5px;
}

/*-------------------------------------- МЕНЮ САЙТА --------------------------------------*/

menu{
  height: 50px;
  font-size: 20px;
  background-color: #036ca6;
}
menu .wrap > a{ 
  box-sizing: border-box;
  display: flex;
  height: 40px;
  width: 150px;
  margin: auto;
  border: 1px solid #fff;
  align-items: center;
  justify-content: center;
  color: #fff;
  z-index: 1;
  transition: all .4s;
  transition-timing-function: ease;
  position: relative;
}
menu .wrap > a::before{
  content: '';
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: #fff;
  z-index: -1;
  opacity: 0;
  transform: scale3d(0.7, 1, 1);
  transition: transform .4s, opacity .4s;
  transition-timing-function: ease;
}
menu a:hover{
  color: #036ca6;
}
menu .wrap > a:hover::before{
  opacity: 1;
  transform: translate3d(0, 0, 0);
}
.search-form{
  height: 40px;
  width: 440px;
  margin: auto 0;
}
.search-form input{
  box-sizing: border-box; 
  width: 390px;
  padding-left: 10px;
  border: 1px solid #fff;
  background: #fff;
  font-size: 14px;
  font-weight: bold;
}
.search-form input:focus{
  outline: 0;
}
:focus::-webkit-input-placeholder{
  color: transparent;
}
::-webkit-input-placeholder{
  color: #565656;
}
menu .fa-search,
menu .fa-sign-in{
  font-size: 24px;
  width: 24px;
}
menu button{
    transition: all .5s;
    border: 1px solid #fff;
    margin: auto;
    outline: none;
    cursor: pointer;
    background: none;
    height: 40px;
    width: 40px;
    color: #fff;
    position: relative;
    z-index: 1;
}
menu button::before{
  content: '';
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: #fff;
  z-index: -1;
  opacity: 0;
  transform: scale3d(0.7, 1, 1);
  transition: transform .4s, opacity .4s;
  transition-timing-function: ease;
}
menu button:hover::before{
  opacity: 1;
  transform: translate3d(0, 0, 0);
}
.login:hover,
.search-form button:hover{
  color: #036ca6;
}

/*------------------------------------ БЛОК РЕГИСТРАЦИИ/АВТОРИЗАЦИИ ------------------------------------*/

#sub-login{
  height: 250px;
  background-color: #036ca6;
  position:absolute;
  left:50%;
  width:1000px;
  margin-left:-500px;
  z-index:1;
  align-items:center;
  display:none;
  box-shadow:0 0 10px 1px rgba(0,0,0,0.3);
}

.form-auth{
  height: 100%;
  width: 50%;
  display: flex;
  flex-direction: column;
  background-color: #fff;;
}

.form-auth input{
  width: 320px;
  margin: auto;
  height: 30px;
}

.registr{
  margin: auto;
  display: flex;
  height: 40px;
  width: 160px;
  align-items: center;
  justify-content: center;
  text-decoration: none;
  color: #fff;
  font-size: 24px;
  border: 2px solid #fff;
}

/* Блок авторизации / регистрации 

.block-login{
  position: fixed;
  z-index: 16;
  top: -350px;
  left: 50%;
  height: 350px;
  width: 1000px;
  margin-left: -500px;
  margin-top: -175px;
  background-color: #67b5d1;
  transition: all .5s;
}

.form-auth{
  background-color: #00F;
}

.show-login .block-login{
  top: 50%;
}

.mask {
    position: fixed;
    top: 0;
    left: 0;
    z-index: 15;
    width: 100%;
    height: 100%;
    background: rgba(0, 0, 0, .8);
}

*/

/*-------------------------------------- ГЛАВНАЯ СТРАНИЦА --------------------------------------*/

.main-info{
  height: 450px;
  width: 1000px;
}

.block-about{
  background-image: url(/assets/img/city.png);
}

.about-layer{
  background-color: #036ca6;
  opacity: .85;
  height: 100%;
  width: 100%;
  display: flex;
}

.about-content{
  display: flex;
  flex-direction: column;
  height: 350px;
  width: 800px;
  align-items: center;
  justify-content: space-around;
  margin: auto;;
  
}

.about-content h1{
  color: #fff;
  font-size: 34px;
  font-weight: bold;
}

.about-content p{
  color: #fff;
  font-size: 16px;
  font-weight: bold;

}

.block-best-products{
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;
  border-bottom: 2px solid #036ca6;
}

.block-last-news h1,
.block-best-products h1{
  color: #036ca6;
  font-size: 28px;
  font-weight: bold;
  align-self: flex-start;
  margin-left: 50px;
}

.block-best-products > a:hover{
  color: #028ec9;
}

.best-product{
  width: 300px;
  height: 225px;
  border: 1px solid #036ca6;
  position: relative;
  margin: 0 12px;
}

.best-product-img{
  height: 100%;
  width: 100%;
  position: relative;
  display: block;
  background-color: #343434;
}

.best-product-info{
  position: absolute;
  height: 100%;
  top: 0;
  left: 0;
  background-color: #036ca6;
  width: 100%;
  transition: transform 0.3s, opacity 0.3s;
  backface-visibility: hidden;
  flex-direction: column;
  opacity: 0;
}

.best-product-info:hover{
  opacity: .85;
  transform: translate(10px, 10px);
  box-shadow: 0 0 10px 1px rgba(0,0,0,0.5);
}

.best-product-name{
  font-size: 26px;
  color: #fff;
  width: 280px;
  height: 50px;
  border-bottom: 2px solid #fff;
  margin: 0 auto;
  display: flex;
  align-items: center;
  justify-content: center;

}

.best-product-description{
  color: #FFF;
  font-size: 16px;
  display: block;
  width: 240px;
  margin: 20px auto 0;
  height: 130px;
}

.best-product-price{
  width: 240px;
  margin: 0 auto;
  height: 48px;
  color: #fff;
  font-size: 30px;

}

.best-product-btns{
  width: 240px;
  height: 68px;
  display: flex;
  margin: 0 auto;
  
}

.add-best-product-btn,
.more-best-product-btn{
  border: 2px solid #fff;
  height: 30px;
  width: 100px;
  color: #fff;
  text-transform: uppercase;
  font-size: 14px;
  text-decoration: none;
  align-items: center;
  justify-content: center;
  margin: 10px auto;
}

.add-best-product-btn:hover,
.more-best-product-btn:hover{
  background: #fff;
  color: #036ca6;
}

.block-last-news{
  display: flex;
  align-items: center;
  justify-content: space-around;
  flex-direction: column;
  height: 500px;;
}



.main-info > a{
  color: #036ca6;
  text-decoration: underline;
  font-size: 24px;
  
}

.last-news{
  width: 100%;
}

.last-post{
  height: 350px;
  width: 400px;
  border: 1px solid #036ca6;
  margin: auto;
}

.last-post-top{
  display: block;
  width: 400px;
  height: 300px; 
}

.last-post-img{
  height: 100%;
  width: 100%;
}

.last-post-bot{
  display: flex;
  flex-direction: column;
  width: 400px;
  justify-content: space-between;
}

.last-post-description{
  width: 100%;
  text-decoration: none;
  font-size: 19px;
  color: #036ca6;
  display: block;
  margin: 5px 0;
  height: 25px;
  overflow: hidden;
  padding-left: 5px;
  box-sizing: border-box;
  font-family: 'Roboto Slab', serif;
}

.last-post-description a:hover{
  color: #028ec9;
}

.last-post-date{
  width: 100%;
  height: 20px;
  color: #565656;
  display: flex;
  font-size: 12px;
  font-weight: 600;
  align-items: flex-end;
  padding-left: 5px;
}



/*-------------------------------------- СТРАНИЦА ВСЕХ НОВОСТЕЙ --------------------------------------*/

.block-news{

}

.news-content{
  flex-direction: column;
  width: 100%;
}

.post{
  height: 350px;
  width: 900px;
  margin: 50px auto 0;
  background-color: #fff;
  border: 1px solid #036ca6;
  box-sizing: border-box;
  display: flex;
}

.post:last-child{
  margin: 50px auto;
}

.post-left{
  display: block;
  width: 400px;
  height: 300px;
  margin: 25px; 
}

.post-picture{
  height: 100%;
  width: 100%;
  box-shadow: 0 0 10px 1px rgba(0,0,0,0.5);
}

.post-right{
  display: flex;
  flex-direction: column;
  width: 425px;
  height: 300px;
  margin: 25px 25px 25px 0;
  justify-content: space-between;
}

.description{
  width: 100%;
  height: 275px;
}

.description a{
  text-decoration: none;
  font-size: 24px;
  font-weight: bold;
  font-family: 'Roboto Slab', serif;
  color: #036ca6;
  display: block;
  margin-bottom: 10px;
  max-height: 50px;
  overflow: hidden;
}

.description p{
  max-height: 195px;
  overflow: hidden;
}

.description a:hover{
  color: #028ec9;
}

.more{
  width: 100%;
  height: 25px;
  display: flex;
  justify-content: space-between;
  align-items: flex-end;
}

.more p{
  font-size: 12px;
  font-weight: 600;
  color: #565656;
}

.more a{
  color: #565656;
  font-size: 12px;
}

.more a:hover{
  color: #343434;
}

.page-selector{
  height: 40px;
  width: 900px;
  margin: 50px auto;
  display: flex;
  align-items: center;
  justify-content: center;
  border: 1px solid #036ca6;
  background-color: #fff;;

}

.page-selector>a{
   text-decoration: none;
   color: #036ca6;
   font-size: 18px;
   display: flex;
   align-items: center;
   justify-content: center;
   height: 30px;
   width: 30px;
   margin: 0px 2px;
}

.switch-item-cur{
  font-weight: bold;
  border-radius: 50%;
  border: 2px solid #036ca6;
}

/*-------------------------------------- СТРАНИЦА ВСЕХ ПРОДУКТОВ --------------------------------------*/

.block-products{
  flex-wrap: wrap;
}
.product{
  width: 300px;
  height: 435px;
  border: 1px solid #036ca6;
  flex-direction: column;
  box-sizing: border-box;
  margin: 25px 0 25px 25px;
}
.product-img{
  width: 298px;
  height: 225px;
}
.product-img img{
  height: 225px;
  width: 298px;
}
.product-name{
  font-size: 24px;
  margin: 10px 15px 5px;
  overflow: hidden;
  color: #036ca6;
  height: 60px;
  text-align: center;
  border-top: 1px solid #aaa;
  padding-top: 10px;
}
.product-name:hover{
  color: #028ec9;
}
.product-description{
  font-size: 16px;
  margin: 0 15px 5px;
  border-bottom: 1px solid #aaa;
  overflow: hidden;
  height: 110px;
}
.product-price{
  font-size: 22px;
  color: #343434;
  margin: 5px auto;
}

/*registration*/

.registration{
  height: 900px;
  background-color: #ccc;
}

/*authorization*/

.authorization-page{
  height: 200px;
}

/*about*/

.about{
  height: 900px;
  background-color: #ccc;
}

/*-------------------------------------- ПОДВАЛ САЙТА --------------------------------------*/

footer{
  height: 40px;
  min-width: 1000px;
  margin-top: -40px;
  background-color: #036ca6;
}
footer span{
  margin: auto;
  color: #fff;
}

article.product.flex{
}